
<title>Tree - Neoui-ng</title>

<ul id="anchors" class="ui anchor">
    <li data-anchor="example" class="item active">Example</li>

    <li class="item">AngularJS
        <ul>
            <li data-anchor="markup" class="item">Markup</li>
            <li data-anchor="javascript" class="item">Javascript</li>
            <li data-anchor="sTree" class="item">Directive * s-tree</li>
        </ul>
    </li>

    <li class="item">jQuery
        <ul>
            <li data-anchor="html" class="item">Html</li>
            <li data-anchor="constructor" class="item">Constructor</li>
            <li data-anchor="options" class="item">Options</li>
            <li data-anchor="method" class="item">Method</li>
        </ul>
    </li>
</ul>

<section id="tree" ng-controller="treeController" ng-init="init()">

    <header data-anchor="example">Example</header>

    <section>
        <div class="wrap example">

            <code>
                <label>Value:</label>
                {{ treeValue || {} }}
            </code>

            <br>
            <br>

            <label>Simple</label>
            <s-tree style="height: 430px; width: 320px;"
                data="data"
                ng-model="treeValue"
                on-select="onSelect"
                root-ids="rootIds"
                parent-key="a03_parent_id"
                text-key="a03_name"
                controller="menuTree"
                value-key="a03_id">
            </s-tree>

            <div>
                <p><button class="ui transition button primary" ng-disabled="!treeValue"
                    ng-click="addBranch( menuTree, treeValue.a03_id )">Add Branch</button></p>
                <p><button class="ui transition button warn" ng-disabled="!treeValue"
                    ng-click="menuTree.remove( treeValue.a03_id )">Remove Branch</button></p>
                <p><button class="ui transition button coral" ng-disabled="!treeValue"
                    ng-click="menuTree.toggle( treeValue.a03_id )">Toggle</button></p>
                <p><button class="ui transition button mint" ng-disabled="!treeValue"
                    ng-click="menuTree.expand( treeValue.a03_id )">Expand</button></p>
                <p><button class="ui transition button mint" ng-disabled="!treeValue"
                    ng-click="menuTree.collapse( treeValue.a03_id )">Collapse</button></p>
            </div>
        </div>

        <br>
        <br>

        <div class="wrap example">

            <code>
                <label>Value:</label>
                {{ fileValue || {} | json }}
            </code>

            <br>
            <br>

            <label>Custome</label>
            <s-tree class="file" style="height: 430px; width: 320px;"
                data="files"
                ng-model="fileValue"
                controller="fileTree"
                root-ids="[ './' ]"
                parent-key="parent"
                text-key="name"
                value-key="id">
                <i class="icon {{ name.substr( name.lastIndexOf( '.' ) + 1 ) }}"></i><span>{{ name }}</span>
            </s-tree>

            <div>
                <p><button class="ui transition button primary" ng-disabled="!fileValue"
                    ng-click="addBranch( fileTree, fileValue.id )">Add Branch</button></p>
                <p><button class="ui transition button warn" ng-disabled="!fileValue"
                    ng-click="fileTree.remove( fileValue.id )">Remove Branch</button></p>
                <p><button class="ui transition button coral" ng-disabled="!fileValue"
                    ng-click="fileTree.toggle( fileValue.id )">Toggle</button></p>
                <p><button class="ui transition button mint" ng-disabled="!fileValue"
                    ng-click="fileTree.expand( fileValue.id )">Expand</button></p>
                <p><button class="ui transition button mint" ng-disabled="!fileValue"
                    ng-click="fileTree.collapse( fileValue.id )">Collapse</button></p>
            </div>
        </div>
    </section>

    <br>
    <br>

    <header>AngularJS</header>
    <div class="markdown">
        <section>
            <div class="ui ribbon" data-anchor="markup">
                <span>Markup</span>
            </div>

            <div class="wrap">
                <label>Simple</label>
                <xmp>
                <s-tree style="height: 430px; width: 270px;"
                    data="data"
                    ng-model="treeValue"
                    on-select="onSelect"
                    root-ids="rootIds"
                    parent-key="a03_parent_id"
                    text-key="a03_name"
                    controller="menuTree"
                    value-key="a03_id">
                </s-tree>
                </xmp>
            </div>

            <div class="wrap">
            <label>Custom template</label>
            <xmp>
            <s-tree class="file" style="height: 430px; width: 270px;"
                data="files"
                ng-model="fileValue"
                controller="fileTree"
                root-ids="[ './' ]"
                parent-key="parent"
                text-key="name"
                value-key="id">
                <i class="icon {{ name.substr( name.lastIndexOf( '.' ) + 1 ) }}"></i><span>{{ name }}</span>
            </s-tree>
            </xmp>
            <code>内层不为空时,作为模板格式化列表, 以<code>item</code>做为<code>scope</code></code>
            </div>
        </section>

        <section>
            <div class="ui ribbon" data-anchor="javascript">
                <span>Javascript</span>
            </div>

            <xmp>
            angular
            .module( "demo.tree", [ "$ui.tree" ] )
            .controller( "treeController", [ "$scope", function( $scope ) {

                /** Simple */
                angular.extend( $scope, {

                    rootIds: [ "C000000000481935" ],
                    data: function() {

                        var deferred = $.Deferred();

                        $.ajax( {
                            url: "/src/demo/tree/tree.json",
                            dataType: "json"
                        } )

                        .done( function( data ) {

                            data = data.result.catalog;
                            deferred.resolveWith( JSON.parse( data ) );
                        } );

                        return deferred.promise();
                    },

                    onSelect: function( e, item, dataContext, level ) {
                        console.log( arguments );
                    }
                } );

                /** Custom */
                $scope.files = function() {

                    var deferred = $.Deferred();

                    $.ajax( {
                        url: "/src/demo/tree/files.json",
                    } )

                    .done( function( data ) {
                        deferred.resolveWith( data );
                    } );

                    return deferred;
                };

                $scope.addBranch = function( tree, parentId ) {

                    var
                    settings = tree.settings,
                    item = {};

                    item[ settings.parentKey ] = parentId;
                    item[ settings.valueKey ] = +new Date();
                    item[ settings.textKey ] = "New Branch";

                    tree.add( item );
                };
            } ] );
            </xmp>

        </section>

        <section>
            <div class="ui ribbon" data-anchor="sTree">
                <span>Directive * s-tree</span>
            </div>

            <blockquote class="required">
                <p><code>=root-ids</code> - <code>null</code>
                </p>
            </blockquote>
            <p><code>Root</code>节点<code>ID</code></p>
            <br>

            <blockquote class="required">
                <p><code>@parent-key</code> - <code>"parentId"</code>
                </p>
            </blockquote>
            <p>关联键</p>
            <br>

            <blockquote class="required">
                <p><code>@text-key</code> - <code>"text"</code></p>
            </blockquote>
            <p><code>text</code>取值</p>
            <br>

            <blockquote class="required">
            <p><code>@value-key</code> - <code>"value"</code></p>
            </blockquote>
            <p><code>text</code>取值</p>
            <br>

            <blockquote class="required">
                <p><code>=data</code> - <code>null</code>
                </p>
            </blockquote>
            <p>为数组时候为本地数据, <code>function</code>时返回<code>$.Deferred</code></p>
            <br>

            <blockquote>
                <p><code>@collapsed</code> - <code>true</code>
                </p>
            </blockquote>
            <p>为<code>false</code>时展开所有节点</p>
            <br>

            <blockquote>
                <p><code>@closeSameLevel</code> - <code>false</code>
                </p>
            </blockquote>
            <p>展开节点时关闭同一级的节点</p>
            <br>

            <blockquote>
                <p><code>@placeholder</code> - <code>"Type to search..."</code>
                </p>
            </blockquote>
            <p>The same to input placeholder</p>
            <br>

            <blockquote>
                <p><code>&onSelect</code> - <code>null</code>
                </p>
            </blockquote>
            <p>选中节点时回调</p>
            <br>

            <blockquote>
                <p><code>=controller</code> - <code>null</code>
                </p>
            </blockquote>
            <p>Tree's controller, <a href="" data-anchor="method">See Method</a></p>
            <br>
        </section>
    </div>

    <header data-anchor="api">API</header>

    <div class="markdown">

        <section>
            <div class="ui ribbon" data-anchor="html">
                <span>HTML</span>
            </div>

            <xmp>
            <div class="ui tree" style="height: 430px; width: 270px;">
                <div class="icon">
                    <input type="text" class="ui text" name="filter" value="" placeholder="Type for search..">
                </div>
                <div class="content"></div>
            </div>
            </xmp>
        </section>

        <br>
        <br>

        <section>
            <div class="ui ribbon" data-anchor="constructor">
                <span>Constructor</span>
            </div>

            <p><code>$( selector ).tree( [options] )</code>
            </p>

            <blockquote>
                <p><code>selector</code> - 选择器或 DOM 元素</p>

                <p><code>options</code> - 参数设置</p>
            </blockquote>

        <xmp>
        $( ".ui.tree" ).tree( {

            data: function() {

                var deferred = $.Deferred();

                $.ajax( {
                    url: "/src/demo/tree/tree.json",
                    dataType: "json"
                } )
                .done( function( data ) {
                    data = data.result.catalog;
                    deferred.resolveWith( JSON.parse( data ) );
                } );

                return deferred.promise();
            },

            parentKey: "a03_parent_id",
            textKey: "a03_name",
            valueKey: "a03_id",
            rootIds: [ "C000000000481935" ]
        } );
        </xmp>
        </section>

        <br>
        <br>

        <section>
            <div class="ui ribbon" data-anchor="options">
                <span>Options</span>
            </div>

            <blockquote class="required">
                <p><code>rootIds</code> - <code>null</code></p>
            </blockquote>
            <p><code>Root</code>节点<code>ID</code></p>
            <br>

            <blockquote class="required">
                <p><code>parentKey</code> - <code>"parentId"</code></p>
            </blockquote>
            <p>关联键</p>
            <br>

            <blockquote class="required">
                <p><code>textKey</code> - <code>"text"</code></p>
            </blockquote>
            <p><code>text</code>取值</p>
            <br>

            <blockquote class="required">
                <p><code>value</code> - <code>"value"</code></p>
            </blockquote>
            <p><code>text</code>取值</p>
            <br>

            <blockquote class="required">
                <p><code>data</code> - <code>null</code></p>
            </blockquote>
            <p>为数组时候为本地数据, <code>function</code>时返回<code>$.Deferred</code></p>
            <br>

            <blockquote>
                <p><code>collapsed</code> - <code>true</code></p>
            </blockquote>
            <p>为<code>false</code>时展开所有节点</p>
            <br>

            <blockquote>
                <p><code>placeholder</code> - <code>"Type to search..."</code>
                </p>
            </blockquote>
            <p>The same to input placeholder</p>
            <br>

            <blockquote>
                <p><code>onSelect</code> - <code>null</code></p>
            </blockquote>
            <p>选中节点时回调</p>
            <xmp>
            $( ".ui.tree" ).tree( {

                onSelect: function( e, item, dataContext, level ) {

                    console.log( arguments );
                }
            } );
            </xmp>
            <br>

            <blockquote>
                <p><code>duration</code> - <code>150</code></p>
            </blockquote>
            <p>展开动画速度, 单位毫秒</p>
            <br>

            <blockquote>
                <p><code>closeSameLevel</code> - <code>false</code></p>
            </blockquote>
            <p>展开节点时关闭同一级的节点</p>
            <br>

            <blockquote>
                <p><code>selector4content</code> - <code>".content"</code></p>
            </blockquote>
            <p>树形节点容器选择器</p>
            <br>

            <blockquote>
                <p><code>selector4filter</code> - <code>"input[name=filter]"</code></p>
            </blockquote>
            <p>过滤框选择器</p>
            <br>

            <blockquote>
                <p><code>filter</code> - <code>null</code></p>
            </blockquote>
            <p><code>function</code>或<code>hash</code>对象, 作用于每一级节点的过滤器</p>
            <xmp>
            $( ".ui.tree" ).tree( {

                filter: {
                    "0": function( item ) {
                        return !!item.value;
                    },

                    "1": function( item ) {
                        return item.value > 100;
                    }
                }
            } );
            </xmp>
            <br>

            <blockquote>
                <p><code>formatter</code> - <code></code></p>
            </blockquote>
            <p>节点格式化</p>
            <xmp>
            $( ".ui.tree" ).tree( {
                formatter: function() {

                    return "<p style='padding-left: " + ((level - 1) * 2) + "em;'><i class='icon'></i><span>" + item[ settings.textKey ] + "</span></p>";
                }
            } );
            </xmp>
            <br>
        </section>

        <br>
        <br>

        <section>
            <div class="ui ribbon" data-anchor="method">
                <span>Method</span>
            </div>

            <p><code>tree.toggle( nodeid )</code></p>
            <blockquote>
                <p><code>nodeid</code> - <code>String</code></p>
            </blockquote>
            <p>展开收起指定节点</p>
            <br>
            <br>

            <p><code>tree.expand( nodeid )</code></p>
            <blockquote>
                <p><code>nodeid</code> - <code>String</code></p>
            </blockquote>
            <p>展开指定节点, <code>nodeid</code>为空时展开所有节点</p>
            <br>
            <br>

            <p><code>tree.collapse( nodeid )</code></p>
            <blockquote>
                <p><code>nodeid</code> - <code>String</code></p>
            </blockquote>
            <p>关闭指定节点, <code>nodeid</code>为空时收起所有节点</p>
            <br>
            <br>

            <p><code>tree.render( data )</code></p>
            <blockquote>
                <p><code>data</code> - <code>Array/Function</code></p>
            </blockquote>
            <p>渲染树节点, 为数组时候为本地数据, <code>function</code>时返回<code>$.Deferred</code></p>
            <br>
            <br>

            <p><code>tree.add( item )</code></p>
            <blockquote>
                <p><code>item</code> - <code>Object</code></p>
            </blockquote>
            <p>添加节点</p>
            <xmp>
            {
                text: "Text",
                value: "Value",
                parentId: "0"
            }
            </xmp>
            <br>
            <br>

            <p><code>tree.remove( nodeid )</code></p>
            <blockquote>
                <p><code>nodeid</code> - <code>String</code></p>
            </blockquote>
            <p>移除指定节点</p>
            <br>
            <br>

            <p><code>tree.filter( text )</code></p>
            <blockquote>
                <p><code>text</code> - <code>String</code></p>
            </blockquote>
            <p>过滤节点树</p>
        </section>
    </div>

</section>
