
<title>Button - Neoui-ng</title>

<ul id="anchors" class="ui anchor">
    <li data-anchor="styles" class="item active">Styles</li>
    <li data-anchor="sizes" class="item">Sizes</li>
    <li data-anchor="iconButton" class="item">Icon Button</li>
</ul>

<section id="buttons" ng-controller="buttonController" ng-init="init()">

    <header data-anchor="styles">
        Styles
    </header>

    <section>

        <div class="ui ribbon">
            <span>Outline</span>
        </div>

        <div class="wrap">
            <button class="ui button outline primary">Primiary</button>
            <button class="ui button outline success">Success</button>
            <button class="ui button outline error">Error</button>
            <button class="ui button outline warn">Warn</button>
            <button class="ui button outline info">Info</button>
            <button class="ui button outline coral">Default</button>
        </div>

        <div class="wrap">
            <button disabled class="ui button outline primary">Primiary</button>
            <button disabled class="ui button outline success">Success</button>
            <button disabled class="ui button outline error">Error</button>
            <button disabled class="ui button outline warn">Warn</button>
            <button disabled class="ui button outline info">Info</button>
            <button disabled class="ui button outline coral">Default</button>
        </div>

        <div class="wrap">
            <label>Normal</label>
            <xmp>
            <button class="ui button outline primary">Primiary</button>
            <button class="ui button outline success">Success</button>
            <button class="ui button outline error">Error</button>
            <button class="ui button outline warn">Warn</button>
            <button class="ui button outline info">Info</button>
            <button class="ui button outline coral">Default</button>
            </xmp>
        </div>

        <div class="wrap">
            <label>Disabled</label>
            <xmp>
            <button disabled class="ui button outline primary">Primiary</button>
            <button disabled class="ui button outline success">Success</button>
            <button disabled class="ui button outline error">Error</button>
            <button disabled class="ui button outline warn">Warn</button>
            <button disabled class="ui button outline info">Info</button>
            <button disabled class="ui button outline coral">Default</button>
            </xmp>
        </div>

    </section>

    <section>

        <div class="ui ribbon">
            <span>Default</span>
        </div>

        <div class="wrap">
            <button class="ui button primary">Primiary</button>
            <button class="ui button success">Success</button>
            <button class="ui button error">Error</button>
            <button class="ui button warn">Warn</button>
            <button class="ui button info">Info</button>
            <button class="ui button">Default</button>
        </div>

        <div class="wrap">
            <button disabled class="ui button primary">Primiary</button>
            <button disabled class="ui button success">Success</button>
            <button disabled class="ui button error">Error</button>
            <button disabled class="ui button warn">Warn</button>
            <button disabled class="ui button info">Info</button>
            <button disabled class="ui button">Default</button>
        </div>

        <div class="wrap">
        <label>Normal</label>
        <xmp>
        <button class="ui button primary">Primiary</button>
        <button class="ui button success">Success</button>
        <button class="ui button error">Error</button>
        <button class="ui button warn">Warn</button>
        <button class="ui button info">Info</button>
        <button class="ui button">Default</button>
        </xmp>
        </div>

        <div class="wrap">
        <label>Disabled</label>
        <xmp>
        <button disabled class="ui button primary">Primiary</button>
        <button disabled class="ui button success">Success</button>
        <button disabled class="ui button error">Error</button>
        <button disabled class="ui button warn">Warn</button>
        <button disabled class="ui button info">Info</button>
        <button disabled class="ui button">Default</button>
        </xmp>
        </div>
    </section>

    <section>

        <div class="ui ribbon">
            <span>Flat</span>
        </div>

        <div class="wrap">
            <button class="ui button flat primary">Primiary</button>
            <button class="ui button flat success">Success</button>
            <button class="ui button flat error">Error</button>
            <button class="ui button flat warn">Warn</button>
            <button class="ui button flat info">Info</button>
            <button class="ui button flat">Default</button>
        </div>

        <div class="wrap">
            <button disabled class="ui button flat primary">Primiary</button>
            <button disabled class="ui button flat success">Success</button>
            <button disabled class="ui button flat error">Error</button>
            <button disabled class="ui button flat warn">Warn</button>
            <button disabled class="ui button flat info">Info</button>
            <button disabled class="ui button flat">Default</button>
        </div>

        <div class="wrap">
        <label>Normal</label>
        <xmp>
            <button class="ui button flat primary">Primiary</button>
            <button class="ui button flat success">Success</button>
            <button class="ui button flat error">Error</button>
            <button class="ui button flat warn">Warn</button>
            <button class="ui button flat info">Info</button>
            <button class="ui button flat">Default</button>
        </xmp>
        </div>

        <div class="wrap">
        <label>Disabled</label>
        <xmp>
            <button disabled class="ui button flat primary">Primiary</button>
            <button disabled class="ui button flat success">Success</button>
            <button disabled class="ui button flat error">Error</button>
            <button disabled class="ui button flat warn">Warn</button>
            <button disabled class="ui button flat info">Info</button>
            <button disabled class="ui button flat">Default</button>
        </xmp>
        </div>

    </section>

    <section>
        <div class="ui ribbon">
            <span>Raised</span>
        </div>

        <div class="wrap">
            <button class="ui button raised primary">Primiary</button>
            <button class="ui button raised success">Success</button>
            <button class="ui button raised error">Error</button>
            <button class="ui button raised warn">Warn</button>
            <button class="ui button raised info">Info</button>
            <button class="ui button raised">Default</button>
        </div>

        <div class="wrap">
            <button disabled class="ui button raised primary">Primiary</button>
            <button disabled class="ui button raised success">Success</button>
            <button disabled class="ui button raised error">Error</button>
            <button disabled class="ui button raised warn">Warn</button>
            <button disabled class="ui button raised info">Info</button>
            <button disabled class="ui button raised">Default</button>
        </div>

        <div class="wrap">
            <label>
                Normal
            </label>
            <xmp>
            <button class="ui button raised primary">Primiary</button>
            <button class="ui button raised success">Success</button>
            <button class="ui button raised error">Error</button>
            <button class="ui button raised warn">Warn</button>
            <button class="ui button raised info">Info</button>
            <button class="ui button raised">Default</button>
            </xmp>
        </div>

        <div class="wrap">
            <label>
                Disabled
            </label>
            <xmp>
            <button disabled class="ui button raised primary">Primiary</button>
            <button disabled class="ui button raised success">Success</button>
            <button disabled class="ui button raised error">Error</button>
            <button disabled class="ui button raised warn">Warn</button>
            <button disabled class="ui button raised info">Info</button>
            <button disabled class="ui button raised">Default</button>
            </xmp>
        </div>
    </section>

    <br>
    <br>

    <header data-anchor="sizes">
        Sizes
    </header>

    <section>

        <div class="wrap">
            <button class="mini ui button primary">Mini</button>
            <button class="tiny ui button primary">Tiny</button>
            <button class="samll ui button primary">Samll</button>
            <button class="medium ui button primary">Medium</button>
            <button class="large ui button primary">Large</button>
            <button class="big ui button primary">Big</button>
            <button class="huge ui button primary">Huge</button>
        </div>

        <xmp>
            <button class="mini ui button primary">Mini</button>
            <button class="tiny ui button primary">Tiny</button>
            <button class="samll ui button primary">Samll</button>
            <button class="medium ui button primary">Medium</button>
            <button class="large ui button primary">Large</button>
            <button class="big ui button primary">Big</button>
            <button class="huge ui button primary">Huge</button>
        </xmp>
    </section>

    <br>
    <br>

    <header data-anchor="iconButton">
        Icon Button
    </header>

    <section>

        <div class="wrap">
            <button class="ui button success" s-ripple>
                <i class="icon ok"></i> Success
            </button>

            <button class="ui button error" s-ripple>
                <i class="icon close"></i> Error
            </button>

            <button class="ui button grape" s-ripple>
                <i class="icon star"></i>
            </button>

            <div class="ui button primary file" s-ripple>
                <label for="upload">
                    <i class="icon add"></i>
                    {{ filename || "Choice a file" }}
                </label>
                <input id="upload" type="file" ng-model="filename" onchange="$(this).scope().filename=this.value;$(this).scope().$apply();">
            </div>

            <button class="ui button aqua icon" s-ripple>
                <i class="icon twitter"></i>
            </button>

            <button class="ui button flat icon" s-ripple>
                <i class="icon github2"></i>
            </button>

            <button class="ui button coral outline icon" s-ripple>
                <i class="icon dribbble"></i>
            </button>
        </div>

        <xmp>
            <button class="ui button success" s-ripple>
                <i class="icon ok"></i> Success
            </button>

            <button class="ui button error" s-ripple>
                <i class="icon close"></i> Error
            </button>

            <div class="ui button primary file" s-ripple>
                <label for="upload">
                    <i class="icon add"></i>
                    \{\{ filename || "Choice a file" }}
                </label>
                <input id="upload" type="file" ng-model="filename" onchange="$(this).scope().filename=this.value;$(this).scope().$apply();">
            </div>

            <button class="ui button aqua icon" s-ripple>
                <i class="icon twitter"></i>
            </button>

            <button class="ui button flat icon" s-ripple>
                <i class="icon github2"></i>
            </button>

            <button class="ui button coral outline icon" s-ripple>
                <i class="icon dribbble"></i>
            </button>
        </xmp>
    </section>

</section>

