
<title>Button - Neoui-ng</title>

<ul id="anchors" class="md-anchor">
    <li data-anchor="styles" class="md-anchor-item active">Styles</li>
    <li data-anchor="sizes" class="md-anchor-item">Sizes</li>
    <li data-anchor="iconButton" class="md-anchor-item">Icon Button</li>
</ul>

<section id="buttons" ng-controller="buttonController" ng-init="init()">

    <header data-anchor="styles">
        Styles
    </header>

    <section>

        <div class="md-ribbon">
            <span>Outline</span>
        </div>

        <div class="row">
            <button class="md-btn md-btn-outline md-btn-primary">Primiary</button>
            <button class="md-btn md-btn-outline md-btn-success">Success</button>
            <button class="md-btn md-btn-outline md-btn-danger">Danger</button>
            <button class="md-btn md-btn-outline md-btn-warning">Warning</button>
            <button class="md-btn md-btn-outline md-btn-info">Info</button>
            <button class="md-btn md-btn-outline md-btn-default">Default</button>
        </div>

        <div class="row">
            <button disabled class="md-btn md-btn-outline md-btn-primary">Primiary</button>
            <button disabled class="md-btn md-btn-outline md-btn-success">Success</button>
            <button disabled class="md-btn md-btn-outline md-btn-danger">Danger</button>
            <button disabled class="md-btn md-btn-outline md-btn-warning">Warning</button>
            <button disabled class="md-btn md-btn-outline md-btn-info">Info</button>
            <button disabled class="md-btn md-btn-outline md-btn-default">Default</button>
        </div>

        <div class="wrap">
            <label>Normal</label>
            <xmp>
    <button class="md-btn md-btn-outline md-btn-primary">Primiary</button>
    <button class="md-btn md-btn-outline md-btn-success">Success</button>
    <button class="md-btn md-btn-outline md-btn-danger">Danger</button>
    <button class="md-btn md-btn-outline md-btn-warning">Warning</button>
    <button class="md-btn md-btn-outline md-btn-info">Info</button>
    <button class="md-btn md-btn-outline md-btn-default">Default</button>
            </xmp>
        </div>

        <div class="wrap">
            <label>Disabled</label>
            <xmp>
    <button disabled class="md-btn md-btn-outline md-btn-primary">Primiary</button>
    <button disabled  class="md-btn md-btn-outline md-btn-success">Success</button>
    <button disabled class="md-btn md-btn-outline md-btn-danger">Danger</button>
    <button disabled class="md-btn md-btn-outline md-btn-warning">Warning</button>
    <button disabled class="md-btn md-btn-outline md-btn-info">Info</button>
    <button disabled class="md-btn md-btn-outline md-btn-default">Default</button>
            </xmp>
        </div>

    </section>

    <section>

        <div class="md-ribbon">
            <span>Default</span>
        </div>

        <div class="row">
            <button class="md-btn md-btn-primary">Primiary</button>
            <button class="md-btn md-btn-success">Success</button>
            <button class="md-btn md-btn-danger">Danger</button>
            <button class="md-btn md-btn-warning">Warning</button>
            <button class="md-btn md-btn-info">Info</button>
            <button class="md-btn md-btn-default">Default</button>
        </div>

        <div class="row">
            <button disabled class="md-btn md-btn-primary">Primiary</button>
            <button disabled class="md-btn md-btn-success">Success</button>
            <button disabled class="md-btn md-btn-danger">Danger</button>
            <button disabled class="md-btn md-btn-warning">Warning</button>
            <button disabled class="md-btn md-btn-info">Info</button>
            <button disabled class="md-btn md-btn-default">Default</button>
        </div>

        <div class="wrap">
        <label>Normal</label>
        <xmp>
    <button class="md-btn md-btn-primary">Primiary</button>
    <button class="md-btn md-btn-success">Success</button>
    <button class="md-btn md-btn-danger">Danger</button>
    <button class="md-btn md-btn-warning">Warning</button>
    <button class="md-btn md-btn-info">Info</button>
    <button class="md-btn md-btn-default">Default</button>
        </xmp>
        </div>

        <div class="wrap">
        <label>Disabled</label>
        <xmp>
    <button disabled class="md-btn md-btn-primary">Primiary</button>
    <button disabled class="md-btn md-btn-success">Success</button>
    <button disabled class="md-btn md-btn-danger">Danger</button>
    <button disabled class="md-btn md-btn-warning">Warning</button>
    <button disabled class="md-btn md-btn-info">Info</button>
    <button disabled class="md-btn md-btn-default">Default</button>
        </xmp>
        </div>
    </section>

    <section>

        <div class="md-ribbon">
            <span>Flat</span>
        </div>

        <div class="row">
            <button class="md-btn md-btn-flat md-btn-primary">Primiary</button>
            <button class="md-btn md-btn-flat md-btn-success">Success</button>
            <button class="md-btn md-btn-flat md-btn-danger">Danger</button>
            <button class="md-btn md-btn-flat md-btn-warning">Warning</button>
            <button class="md-btn md-btn-flat md-btn-info">Info</button>
            <button class="md-btn md-btn-flat md-btn-default">Default</button>
        </div>

        <div class="row">
            <button disabled class="md-btn md-btn-flat md-btn-primary">Primiary</button>
            <button disabled class="md-btn md-btn-flat md-btn-success">Success</button>
            <button disabled class="md-btn md-btn-flat md-btn-danger">Danger</button>
            <button disabled class="md-btn md-btn-flat md-btn-warning">Warning</button>
            <button disabled class="md-btn md-btn-flat md-btn-info">Info</button>
            <button disabled class="md-btn md-btn-flat md-btn-default">Default</button>
        </div>

        <div class="wrap">
        <label>Normal</label>
        <xmp>
    <button class="md-btn md-btn-flat md-btn-primary">Primiary</button>
    <button class="md-btn md-btn-flat md-btn-success">Success</button>
    <button class="md-btn md-btn-flat md-btn-danger">Danger</button>
    <button class="md-btn md-btn-flat md-btn-warning">Warning</button>
    <button class="md-btn md-btn-flat md-btn-info">Info</button>
    <button class="md-btn md-btn-flat md-btn-default">Default</button>
        </xmp>
        </div>

        <div class="wrap">
        <label>Disabled</label>
        <xmp>
    <button disabled class="md-btn md-btn-flat md-btn-primary">Primiary</button>
    <button disabled class="md-btn md-btn-flat md-btn-success">Success</button>
    <button disabled class="md-btn md-btn-flat md-btn-danger">Danger</button>
    <button disabled class="md-btn md-btn-flat md-btn-warning">Warning</button>
    <button disabled class="md-btn md-btn-flat md-btn-info">Info</button>
    <button disabled class="md-btn md-btn-flat md-btn-default">Default</button>
        </xmp>
        </div>

    </section>

    <section>
        <div class="md-ribbon">
            <span>Raised</span>
        </div>

        <div class="row">
            <button class="md-btn md-btn-raised md-btn-primary">Primiary</button>
            <button class="md-btn md-btn-raised md-btn-success">Success</button>
            <button class="md-btn md-btn-raised md-btn-danger">Danger</button>
            <button class="md-btn md-btn-raised md-btn-warning">Warning</button>
            <button class="md-btn md-btn-raised md-btn-info">Info</button>
            <button class="md-btn md-btn-raised md-btn-raised">Default</button>
        </div>

        <div class="row">
            <button disabled class="md-btn md-btn-raised md-btn-primary">Primiary</button>
            <button disabled class="md-btn md-btn-raised md-btn-success">Success</button>
            <button disabled class="md-btn md-btn-raised md-btn-danger">Danger</button>
            <button disabled class="md-btn md-btn-raised md-btn-warning">Warning</button>
            <button disabled class="md-btn md-btn-raised md-btn-info">Info</button>
            <button disabled class="md-btn md-btn-raised md-btn-raised">Default</button>
        </div>

        <div class="wrap">
            <label>
                Normal
            </label>
            <xmp>
    <button class="md-btn md-btn-raised md-btn-primary">Primiary</button>
    <button class="md-btn md-btn-raised md-btn-success">Success</button>
    <button class="md-btn md-btn-raised md-btn-danger">Danger</button>
    <button class="md-btn md-btn-raised md-btn-warning">Warning</button>
    <button class="md-btn md-btn-raised md-btn-info">Info</button>
    <button class="md-btn md-btn-raised md-btn-raised">Default</button>
            </xmp>
        </div>

        <div class="wrap">
            <label>
                Disabled
            </label>
            <xmp>
    <button disabled class="md-btn md-btn-raised md-btn-primary">Primiary</button>
    <button disabled class="md-btn md-btn-raised md-btn-success">Success</button>
    <button disabled class="md-btn md-btn-raised md-btn-danger">Danger</button>
    <button disabled class="md-btn md-btn-raised md-btn-warning">Warning</button>
    <button disabled class="md-btn md-btn-raised md-btn-info">Info</button>
    <button disabled class="md-btn md-btn-raised md-btn-raised">Default</button>
            </xmp>
        </div>
    </section>

    <br>
    <br>

    <header data-anchor="sizes">
        Sizes
    </header>

    <section>

        <div class="row">
    <button class="md-btn md-btn-primary btn-xs">Extra small button</button>
    <button class="md-btn md-btn-primary btn-sm">Small</button>
    <button class="md-btn md-btn-primary">Default</button>
    <button class="md-btn md-btn-primary btn-lg">Large</button>
        </div>

        <xmp>
    <button class="md-btn md-btn-primary btn-xs">Extra small button</button>
    <button class="md-btn md-btn-primary btn-sm">Small</button>
    <button class="md-btn md-btn-primary">Default</button>
    <button class="md-btn md-btn-primary btn-lg">Large</button>
        </xmp>
    </section>

    <br>
    <br>

    <header data-anchor="iconButton">
        Icon Button
    </header>

    <section>

        <div class="row">
            <button class="md-btn md-btn-primary" s-ripple>
                <i class="md-icon-all-done"></i> Success
            </button>

            <button class="md-btn md-btn-danger" s-ripple>
                <i class="md-icon-close"></i> Danger
            </button>

            <button class="md-btn md-btn-grape" s-ripple>
                <i class="md-icon-star"></i>
            </button>

            <div class="md-btn md-btn-primary md-btn-file" s-ripple>
                <label for="upload">
                    <i class="md-icon-add"></i>
                    {{ filename || "Choice a file" }}
                </label>
                <input id="upload" type="file" ng-model="filename" onchange="$(this).scope().filename=this.value;$(this).scope().$apply();">
            </div>

            <button class="md-btn md-btn-aqua md-btn-icon" s-ripple>
                <i class="md-icon-twitter"></i>
            </button>

            <button class="md-btn md-btn-flat md-btn-default md-btn-icon" s-ripple>
                <i class="md-icon-github2"></i>
            </button>

            <button class="md-btn md-btn-outline md-btn-coral md-btn-icon" s-ripple>
                <i class="md-icon-dribbble"></i>
            </button>
        </div>

        <div class="row">
            <button disabled class="md-btn md-btn-primary" s-ripple>
                <i class="md-icon-all-done"></i> Success
            </button>

            <button disabled class="md-btn md-btn-danger" s-ripple>
                <i class="md-icon-close"></i> Danger
            </button>

            <button disabled class="md-btn md-btn-grape" s-ripple>
                <i class="md-icon-star"></i>
            </button>

            <div disabled class="md-btn md-btn-primary md-btn-file" s-ripple>
                <label for="upload">
                    <i class="md-icon-add"></i>
                    {{ filename || "Choice a file" }}
                </label>
                <input id="upload" type="file" ng-model="filename" onchange="$(this).scope().filename=this.value;$(this).scope().$apply();">
            </div>

            <button disabled class="md-btn md-btn-aqua md-btn-icon" s-ripple>
                <i class="md-icon-twitter"></i>
            </button>

            <button disabled class="md-btn md-btn-flat md-btn-default md-btn-icon" s-ripple>
                <i class="md-icon-github2"></i>
            </button>

            <button disabled class="md-btn md-btn-outline md-btn-coral md-btn-icon" s-ripple>
                <i class="md-icon-dribbble"></i>
            </button>
        </div>

        <div class="wrap">
            <label>Normal</label>
            <xmp>
    <button class="md-btn md-btn-primary" s-ripple>
        <i class="md-icon-all-done"></i> Success
    </button>

    <button class="md-btn md-btn-danger" s-ripple>
        <i class="md-icon-close"></i> Danger
    </button>

    <button class="md-btn md-btn-grape" s-ripple>
        <i class="md-icon-star"></i>
    </button>

    <div class="md-btn md-btn-primary md-btn-file" s-ripple>
        <label for="upload">
            <i class="md-icon-add"></i>
            {{ filename || "Choice a file" }}
        </label>
        <input id="upload" type="file" ng-model="filename" onchange="$(this).scope().filename=this.value;$(this).scope().$apply();">
    </div>

    <button class="md-btn md-btn-aqua md-btn-icon" s-ripple>
        <i class="md-icon-twitter"></i>
    </button>

    <button class="md-btn md-btn-flat md-btn-default md-btn-icon" s-ripple>
        <i class="md-icon-github2"></i>
    </button>

    <button class="md-btn md-btn-outline md-btn-coral md-btn-icon" s-ripple>
        <i class="md-icon-dribbble"></i>
    </button>
            </xmp>
        </div>

        <div class="wrap">
            <label>Disabled</label>
            <xmp>
    <button disabled class="md-btn md-btn-primary" s-ripple>
        <i class="md-icon-all-done"></i> Success
    </button>

    <button disabled class="md-btn md-btn-danger" s-ripple>
        <i class="md-icon-close"></i> Danger
    </button>

    <button disabled class="md-btn md-btn-grape" s-ripple>
        <i class="md-icon-star"></i>
    </button>

    <div disabled class="md-btn md-btn-primary md-btn-file" s-ripple>
        <label for="upload">
            <i class="md-icon-add"></i>
            {{ filename || "Choice a file" }}
        </label>
        <input id="upload" type="file" ng-model="filename" onchange="$(this).scope().filename=this.value;$(this).scope().$apply();">
    </div>

    <button disabled class="md-btn md-btn-aqua md-btn-icon" s-ripple>
        <i class="md-icon-twitter"></i>
    </button>

    <button disabled class="md-btn md-btn-flat md-btn-default md-btn-icon" s-ripple>
        <i class="md-icon-github2"></i>
    </button>

    <button disabled class="md-btn md-btn-outline md-btn-coral md-btn-icon" s-ripple>
        <i class="md-icon-dribbble"></i>
    </button>
            </xmp>
        </div>
    </section>

</section>

