#wiki() {

    padding-left: 340px;
    padding-bottom: 100px;

    header {
        font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', Roboto, Arial, Sans-serif;
        font-weight: 100;
        font-size: 3.5rem;
        color: #656d78;
        text-align: left;
        margin-bottom: 20px;
    }

    section {
        padding: 20px 0 5px 20px;
        border-left: 1px solid #ddd;
        margin-bottom: 30px;
        position: relative;
        width: 900px;

        > div.view-code {

            position: absolute;
            right: 0;
            top: 0;
            background: none;
            cursor: pointer;
            text-align: center;
            color: rgba(0,0,0,.55);
            padding: 9px 18px 0 0;

            &:hover {
                color: rgba(0,0,0,.9);
            }

            .icon {
                font-size: 20px;
            }
        }

        .circle {

            height: 38px;
            width: 38px;
            line-height: 38px;
            display: inline-block;
            margin: 0 10px 0 10px;
            cursor: pointer;
            text-align: center;

            .icon {

                &.play {
                    color: #13cc72;

                    &:hover {
                        color: darken(#13cc72, 10%);
                    }
                }

                &.stop {
                    color: #f77066;

                    &:hover {
                        color: darken(#f77066, 10%);
                    }
                }

                font-size: 20px;
            }
        }
    }

    h1 {
        font-family: "Roboto", Sans-serif;
        font-size: 1rem;
        font-weight: 100;
    }

    font-family: "Roboto", Sans-serif;
    font-size: 0.85rem;

    code, xmp, .note {
        display: block;
        font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
        font-size: 12px;
        color: rgba(0,0,0,.55);
    }

    .note {
        color: rgba(0,0,0,.4);
        line-height: 48px;
        height: 48px;
    }

    code, xmp {

        -webkit-box-shadow: 0 1px 24px rgba(0,0,0,.24);
        -moz-box-shadow: 0 1px 24px rgba(0,0,0,.24);
        box-shadow: 0 1px 24px rgba(0,0,0,.24);
    }

    xmp {
        padding-right: 20px;
    }
}
