
<title>Toast - Neoui-ng</title>

<ul id="anchors" class="md-anchor">
	<li data-anchor="example" class="md-anchor-item active">Example</li>
	<li class="md-anchor-item">Usage
        <ul>
            <li data-anchor="angular" class="md-anchor-item">AngularJS</li>
            <li data-anchor="jquery" class="md-anchor-item">jQuery</li>
        </ul>
    </li>

	<li data-anchor="method" class="md-anchor-item">Method</li>
</ul>

<section id="toast" ng-controller="toastController" ng-init="init()">

    <header data-anchor="example">Example</header>

    <section>

        <p>
        <button class="md-btn md-btn-coral" ng-click="topLeft()">On the top left</button>
        <button class="md-btn md-btn-coral" ng-click="topRight()">On the top right</button>
        <button class="md-btn md-btn-coral" ng-click="bottomLeft()">On the bottom left</button>
        <button class="md-btn md-btn-coral" ng-click="bottomRight()">On the ottom right</button>
        </p>

        <br>

        <p class="subhead">Theme: <code>{{ theme || "default" }}</code></p>

        <p class="themes">

            <span ng-repeat="color in [ 'default', 'grape', 'bittersweet', 'sunflower', 'grass', 'mint', 'aqua', 'blueJeans', 'lavender', 'pinkRose', 'lightGray', 'mediumGray', 'darkGray', 'success', 'danger', 'info', 'warning' ]"
                  class="item {{ color }}"
                  ng-click="changeTheme( color )"
                  ng-class="{ 'active': theme === 'md-toast-' + color }"></span>
        </p>

    </section>

	<header data-anchor="usage">Usage</header>

    <section>
        <div class="md-ribbon" data-anchor="angular">
            <span>AngularJS</span>
        </div>

        <h5>服务<code>$ui.toast</code></h5>

        <xmp>
    angular
    .module( "app", [ "$ui.toast" ] )
    .controller( "toastController", [ "$toast", function( $toast ) {
        $toast.top( "On the top left!" ).left();
    } ] );
        </xmp>
    </section>

    <section>
        <div class="md-ribbon" data-anchor="jquery">
            <span>jQuery</span>
        </div>

        <h5>模块<code>ui/toast/toast</code></h5>

        <xmp>
    require( [ "ui/toast/toast" ], function() {
        $.toast.top( "On the top left!" ).left();
    } );
        </xmp>
    </section>

    <section>
        <div class="md-ribbon" data-anchor="method">
            <span>Method</span>
        </div>

        <h5>
        <code> .top( message, [ delay | class4toast ], [ class4toast ] ).left() </code> - 左上角显示
        </h5>
        <blockquote>
            <p><code>message</code> - String, 文本内容</p>
            <p><code>delay</code> - Number, 自动关闭延时, 单位毫秒</p>
            <p><code>class4toast</code> - String, 主题名称p>
        </blockquote>
        <br>
        <br>

        <h5>
        <code> .top( message, [ delay | class4toast ], [ class4toast ] ).right() </code> - 右上角显示
        </h5>
        <blockquote>
            <p><code>message</code> - String, 文本内容</p>
            <p><code>delay</code> - Number, 自动关闭延时, 单位毫秒</p>
            <p><code>class4toast</code> - String, 主题名称p>
        </blockquote>
        <br>
        <br>

        <h5>
        <code> .bottom( message, [ delay | class4toast ], [ class4toast ] ).left() </code> - 左下角显示
        </h5>
        <blockquote>
            <p><code>message</code> - String, 文本内容</p>
            <p><code>delay</code> - Number, 自动关闭延时, 单位毫秒</p>
            <p><code>class4toast</code> - String, 主题名称p>
        </blockquote>
        <br>
        <br>

        <h5>
        <code> .bottom( message, [ delay | class4toast ], [ class4toast ] ).right() </code> - 右下角显示
        </h5>
        <blockquote>
            <p><code>message</code> - String, 文本内容</p>
            <p><code>delay</code> - Number, 自动关闭延时, 单位毫秒</p>
            <p><code>class4toast</code> - String, 主题名称p>
        </blockquote>
        <br>
        <br>
    </section>

</section>
