
<title>Calendar - Neoui-ng</title>

<ul id="anchors" class="md-anchor">
    <li data-anchor="example" class="md-anchor-item active">Example</li>

    <li class="md-anchor-item">AngularJS
        <ul>
            <li data-anchor="markup" class="md-anchor-item">Markup</li>
            <li data-anchor="javascript" class="md-anchor-item">Javascript</li>
            <li data-anchor="sCalendar" class="md-anchor-item">Directive * s-calendar</li>
        </ul>
    </li>

    <li class="md-anchor-item">jQuery
        <ul>
            <li data-anchor="html" class="md-anchor-item">Html</li>
            <li data-anchor="constructor" class="md-anchor-item">Constructor</li>
            <li data-anchor="options" class="md-anchor-item">Options</li>
            <li data-anchor="method" class="md-anchor-item">Method</li>
        </ul>
    </li>
</ul>

<section id="calendar" ng-controller="calendarController" ng-init="init()">

    <header data-anchor="example">Example</header>

    <section>

        <code>
            {{ date || [] }}
        </code>

        <br>
        <br>

        <div class="wrap">
            <s-calendar
                ng-disabled="isDisabled"
                double="double"
                ng-model="date"
                placeholder="Year-Month-Day"
                min-date="minDate"
                max-date="maxDate"
                on-selected="onSelected"
                default-date="defaultDate">
            </s-calendar>

            <br>

            <ul class="options">
                <li>
                    <label>是否禁用?</label>
                    <div class="md-checkbox" s-ripple>
                        <input type="checkbox" ng-click="isDisabled = !isDisabled" />
                        <div></div>
                    </div>
                </li>
                <li>
                    <label>显示双月</label>
                    <div class="md-switch" s-ripple>
                        <input type="checkbox" ng-model="double" />
                        <div></div>
                    </div>
                </li>
                <li>
                    <label>最小时间</label>
                    <span>
                        {{ minDate }}
                    </span>
                </li>

                <li>
                    <label>最大时间</label>
                    <span>
                        {{ maxDate }}
                    </span>
                </li>
            </ul>
        </div>
    </section>

    <br>
    <br>

    <div>

        <header>AngularJS</header>
        <div class="markdown">
            <section>
                <div class="md-ribbon" data-anchor="markup">
                    <span>Markup</span>
                </div>

                <div class="wrap">
                <xmp>
    <s-calendar
        ng-disabled="isDisabled"
        ng-model="date"
        double="double"
        placeholder="Year-Month-Day"
        min-date="minDate"
        max-date="maxDate"
        on-selected="onSelected"
        default-date="defaultDate">
    </s-calendar>
                </xmp>
                </div>
            </section>

            <section>
                <div class="md-ribbon" data-anchor="javascript">
                    <span>Javascript</span>
                </div>

                <xmp>
    angular
    .module( "demo.calendar", [ "$ui.calendar" ] )
    .controller( "calendarController", [ "$scope", function( $scope ) {

        $scope.init = function() {
            $.anchor( { offset: -60 } );
        };

        var now = new Date();

        angular.extend( $scope, {

            date: $.dateutil( now ).tomorrow(),
            isDisabled: false,
            minDate: $.dateutil( now ).lastWeek(),
            maxDate: $.dateutil( now ).nextWeek(),
            onSelected: function( value ) {
                console.log( value );
            }
        } );
    } ] );
                </xmp>

            </section>

            <section>
                <div class="md-ribbon" data-anchor="sCalendar">
                    <span>Directive * s-calendar</span>
                </div>

                <blockquote>
                    <p><code>=ng-disabled</code> - <code>false</code></p>
                </blockquote>
                <p>禁用控件</p>
                <br>

                <blockquote>
                    <p><code>=ng-model</code> - <code>null</code></p>
                </blockquote>
                <p>当前选择时间</p>
                <br>

                <blockquote>
                    <p><code>&on-selected</code> - <code>null</code></p>
                </blockquote>
                <p>选中时执行</p>
                <br>

                <blockquote>
                    <p><code>@format</code> - <code>"%Y-%m-%d"</code></p>
                </blockquote>
                <p>日期格式化, <a href="/#dateutil">See Dateutil</a></p>
                <br>

                <blockquote>
                    <p><code>=double</code> - <code>false</code>
                    </p>
                </blockquote>
                <p>显示双月</p>
                <br>

                <blockquote>
                    <p><code>@placeholder</code> - <code>"Year - Month - Day"</code>
                    </p>
                </blockquote>
                <p>The same to input placeholder</p>
                <br>

                <blockquote>
                    <p><code>=min-date</code> - <code>null</code>
                    </p>
                </blockquote>
                <p>最小可选日期</p>
                <br>

                <blockquote>
                    <p><code>=max-data</code> - <code>null</code>
                    </p>
                </blockquote>
                <p>最大可选日期</p>
                <br>
            </section>
        </div>

        <header data-anchor="api">API</header>

        <section>
            <div class="md-ribbon" data-anchor="html">
                <span>HTML</span>
            </div>

            <xmp>
    <div class="md-calendar">
        <input class="md-text" type="text" placeholder="Year - Month - Day" readonly />
        <i class="md-icon-calendar"></i>
    </div>
            </xmp>
        </section>

        <br>
        <br>

        <section>
            <div class="md-ribbon" data-anchor="constructor">
                <span>Constructor</span>
            </div>

            <h5><code>$( selector ).calendar( [options] )</code></h5>

            <blockquote>
                <p><code>selector</code> - 选择器或 DOM 元素</p>

                <p><code>options</code> - 参数设置</p>
            </blockquote>

        <xmp>
    $( ".md-calendar" ).calendar();
        </xmp>
        </section>

        <br>
        <br>

        <section>
            <div class="md-ribbon" data-anchor="options">
                <span>Options</span>
            </div>

            <blockquote>
                <p><code>daysOfTheWeek</code> - <code>[ "S", "M", "T", "W", "T", "F", "S" ]</code>
                </p>
            </blockquote>
            <p>日期名称</p>
            <br>

            <blockquote>
                <p><code>format</code> - <code>"%Y-%m-%d"</code>
                </p>
            </blockquote>
            <p>日期格式化, <a href="/#dateutil">See Dateutil</a></p>
            <br>

            <blockquote>
                <p><code>selectable</code> - <code>null</code>
                </p>
            </blockquote>
            <p>返回<code>true/false</code>日期是否可选</p>
            <br>

            <blockquote>
                <p><code>selectableDOW</code> - <code>[1, 2, 3, 4, 5]</code>
                </p>
            </blockquote>
            <p>每周中可选星期</p>
            <br>

            <blockquote>
                <p><code>double</code> - <code>false</code>
                </p>
            </blockquote>
            <p>双月显示</p>
            <br>

            <blockquote>
                <p><code>defaultDate</code> - <code>new Date()</code>
                </p>
            </blockquote>
            <p>默认日期</p>
            <br>

            <blockquote>
                <p><code>minDate</code> - <code>null</code>
                </p>
            </blockquote>
            <p>最小可选日期</p>
            <br>

            <blockquote>
                <p><code>maxDate</code> - <code>null</code>
                </p>
            </blockquote>
            <p>最大可选日期</p>
            <br>

            <blockquote>
                <p><code>onSelected</code> - <code>nul</code>
                </p>
                <xmp>
    $( ".md-calendar" ).calendar( {
        onSelected: function( value ) {
            console.log( "Current: " + value );
        }
    } );
                </xmp>
            </blockquote>
            <p>选中时执行</p>
            <br>

            <blockquote>
                <p><code>showTime</code> - <code>false</code>
                </p>
            </blockquote>
            <p>显示时间输入框</p>
            <br>

            <blockquote>
                <p><code>selector4input</code> - <code>":input:first"</code>
                </p>
            </blockquote>
            <p>输入框选择器</p>
            <br>

            <blockquote>
                <p><code>selector4trigger</code> - <code>".md-icon-calendar"</code>
                </p>
            </blockquote>
            <p>事件触发节点选择器</p>
        </section>

        <br>
        <br>

        <section>
            <div class="md-ribbon" data-anchor="method">
                <span>Method</span>
            </div>

            <h5><code>.val( [ value ] )</code> - 设置/取值</h5>
            <blockquote>
                <p><code>value</code> - String/Date</p>
            </blockquote>
            <br>

            <h5><code>.disabled()</code> - 禁用控件</h5>
            <br>
            <h5><code>.enabled()</code> - 取消禁用</h5>

        </section>
    </div>

</section>
