
@import (reference) "../../style/main.less";

.md-calendar {

    ul { list-style: none; }

    li {
        height: 27px;
        line-height: 27px;
        cursor: pointer;
        &:hover,
        &.selected {
            color: #fff;
            background-color: #468cc8;
        }
    }
}

.md-calendar-control {
    border-radius: 4px 4px 0 0;
    height: 27px;
    line-height: 27px;
    padding: 0;
    background-color: #fff;
    color: #333;

    .icon {
        color: #eaeaea;
        font-size: 18px;
        &.first, &.last {
            display: none;
        }

        &.prev {
            left: 20px;
        }

        &.next {
            right: 20px;
        }

        &:hover {
            color: #b9deff;
        }
    }
}

.md-calendar-container {
    width: 251px;
    border-radius: 4px;
}


.md-calendar-content {
    border-radius: 4px;
}

.md-calendar-header {
    background-color: #eaeaea;
    > div {
        line-height: 27px;
        height: 27px;
        width: 35px;
    }
}

.md-calendar-date {
    font-size: 14px;
}

.md-calendar-dates {
    width: 245px;
}

.md-calendar-days {
    width: 251px;
    border-radius: 0 0 4px 4px;
}


.md-calendar-year, .md-calendar-month {
    width: 70px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    &:after {
        font-family: "icomoon";
        content: "\e643";
        color: #468cc8;
        display: inline-block;
        visibility: hidden;
    }
    &:hover, &.expand {
        background-color: #dcebff;
        &:after {
            visibility: visible;
        }
    }
}


.md-calendar-years, .md-calendar-months {
    position: absolute;
    width: 70px;
    z-index: 9;
    background-color: #fff;
    border: 1px solid #eaeaea;
    left: 57px;
    text-indent: 7px;
    display: none;
    overflow-y: auto;
    outline: 0;
    &.show {
        display: block;
    }
}

.md-calendar-months {
    left: 137px;
}


.md-calendar-year {
    margin-left: 58px;
    margin-right: 10px;
}

.md-calendar-day {
    height: 30px;
    width: 35px;
    line-height: 30px;
    border-radius: 0;
    &:hover {
        background-color: #dcebff;
    }

    &:after, &:before {
        content: none;
    }
    &.today {
        color: #333;
        font-weight: bold;
        background-color: #b9deff;
    }
    &.current {
        color: #a2c5e3;
        border: #a2c5e3;
        font-weight: bold;
        box-shadow: 0px 0 1px #a2c5e3 inset;
    }
    &.valid:after {
        content: none;
    }
}

