
@import (reference) "../../style/main.less";

.ui.modal > div {
    border-radius: 4px;
    > .title {
        margin: 0;
        padding: 12px 20px;
        text-align: left;
        font-size: 18px;
        font-weight: bold;
        opacity: 1;
        color: #333;
        background-color: #dadada;
    }

    > .close {
        font-size: 24px;
        color: #eee;
        position: absolute;
        top: 9px;
        right: 20px;
        cursor: pointer;
        border: none;
        z-index: 99;
        color: @primary;

        &:hover {
            color: darken(@primary, 10%);
        }
    }
}

.ui.modal {
    .dialog {
        color: #333;
        font-size: 1rem;
    }

    .dialog-content {
        height: 224px;
        width: 92%;
        padding: 18px 18px 0;
        overflow-y: auto;
        margin: 0 auto;
    }

    .dialog-action {
        border-top: 1px solid #dfdfdf;
        margin-top: 18px;
        text-align: right;
        height: 70px;
        line-height: 70px;
        padding-right: 8px;
    }

    .dialog-content > div {
        min-height: 100%;
        background-color: #dedede;
    }

    .dialog-action button {
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-right: 10px;
        color: #fff;

        &:nth-last-child(1) {
            background-color: #428bca;
            border-color: #357ebd;
        }
    }
}
