
<title>Accordion - Neoui-ng</title>

<ul id="anchors" class="ui anchor">
    <li data-anchor="simple" data-forceanchor="-80" class="item active">Simple</li>
    <li data-anchor="advance" data-forceanchor="-80" class="item">Advance</li>

    <li class="item">AngularJS
        <ul>
            <li data-anchor="markup" class="item">Markup</li>
            <li data-anchor="javascript" class="item">Javascript</li>
            <li data-anchor="sAccordion" class="item">Directive * s-accordion</li>
            <li data-anchor="sAccordionPane" class="item">Directive * s-accordion-pane</li>
            <li data-anchor="sAccordionHead" class="item">Directive * s-accordion-head</li>
            <li data-anchor="sAccordionContent" class="item">Directive * s-accordion-content</li>
        </ul>
    </li>

    <li class="item">jQuery
        <ul>
            <li data-anchor="html" class="item">Html</li>
            <li data-anchor="constructor" class="item">Constructor</li>
            <li data-anchor="options" class="item">Options</li>
            <li data-anchor="method" class="item">Method</li>
        </ul>
    </li>
</ul>

<section id="accordion" ng-controller="accordionController" ng-init="init()">

    <header data-anchor="ngRepeat">Work with ng-repeat</header>

    <section>
        <s-accordion>
            <s-accordion-pane
                ng-repeat="pane in panes"
                head="{{ pane.head }}"
                index="$index"
                content="{{ pane.content }}">
            </s-accordion-pane>
        </s-accordion>

        <button class="ui button transition mint" ng-click="addPane()">
            Add Pane
        </button>

        <button class="ui button transiton warn" ng-click="removePane()">
            Remove Last Pane
        </button>
    </section>

    <header data-anchor="simple">Simple</header>

    <section>
        <s-accordion>
            <s-accordion-pane>
                <s-accordion-head>
                    Pane 1
                </s-accordion-head>
                <s-accordion-content>
                    Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non.
                </s-accordion-content>
            </s-accordion-pane>

            <s-accordion-pane
                head="Pane 2"
                content="Curabitur et ligula. Ut molestie a, ultricies porta urna. Quisque lorem tortor fringilla sed, vestibulum id.">
            </s-accordion-pane>
        </s-accordion>
    </section>

    <header data-anchor="advance">Advance</header>

    <section>
        <s-accordion multiple="multiple"
            on-expand="onExpand"
            on-collapse="onCollapse"
            controller="accordion">
            <s-accordion-pane
                index="1"
                is-open="true"
                head="Pane 1"
                content="Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi.">
            </s-accordion-pane>

            <s-accordion-pane
                index="2"
                is-open="open2"
                head="Pane 2"
                content="Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies.">
            </s-accordion-pane>

            <s-accordion-pane
                index="3"
                head="Pane 3">
                    Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non.

                    <s-accordion>
                        <s-accordion-pane
                            index="1"
                            head="Subpane 1">
                                <s-accordion>
                                    <s-accordion-pane index="1">
                                        <s-accordion-head>
                                            Inner Subpane 1
                                        </s-accordion-head>
                                        <s-accordion-content>
                                            Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non.
                                        </s-accordion-content>
                                    </s-accordion-pane>

                                    <s-accordion-pane
                                        index="2"
                                        head="Inner Subpane 2"
                                        content="Curabitur et ligula. Ut molestie a, ultricies porta urna. Quisque lorem tortor fringilla sed, vestibulum id.">
                                    </s-accordion-pane>
                                </s-accordion>
                        </s-accordion-pane>

                        <s-accordion-pane
                            index="2"
                            head="Subpane 2"
                            content="Curabitur et ligula. Ut molestie a, ultricies porta urna. Quisque lorem tortor fringilla sed, vestibulum id.">
                        </s-accordion-pane>
                    </s-accordion>
            </s-accordion-pane>
        </s-accordion>

        <p>
        <button class="ui button primary transition" ng-click="accordion.expand(1)">Expand first</button>
        <button class="ui button primary transition" ng-click="accordion.collapse(1)">Collapse first</button>
        <button class="ui button primary transition" ng-click="accordion.toggle(1)">Toggle first</button>

        <button class="ui button transition primary" ng-click="accordion.expandAll()">Expand All</button>
        <button class="ui button transition primary" ng-click="accordion.collapseAll()">Collapse All</button>
        </p>

        <button class="ui button transition mint" ng-click="multiple = !multiple">{{ !multiple ? "Singleton" : "Allows multiple sections open at once" }}</button>
    </section>

    <br>
    <br>

    <div class="markdown">

        <header>AngularJS</header>
        <div class="markdown">
            <section>
                <div class="ui ribbon" data-anchor="markup">
                    <span>Markup</span>
                </div>

                <div class="wrap">
                <label>With ng-repeat</label>
                <xmp>
                <s-accordion>
                    <s-accordion-pane
                     ng-repeat="pane in panes"
                     head="{{ pane.head }}"
                     index="$index"
                     content="{{ pane.content }}">
                    </s-accordion-pane>
                </s-accordion>
                </xmp>
                </div>

                <div class="wrap">
                <label>Simple</label>
                <xmp>
                <s-accordion>
                    <s-accordion-pane>
                        <s-accordion-head>
                            Pane 1
                        </s-accordion-head>
                        <s-accordion-content>
                            Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non.
                        </s-accordion-content>
                    </s-accordion-pane>

                    <s-accordion-pane
                     head="Pane 2"
                     content="Curabitur et ligula. Ut molestie a, ultricies porta urna. Quisque lorem tortor fringilla sed, vestibulum id.">
                    </s-accordion-pane>
                </s-accordion>
                </xmp>
                </div>

                <div class="wrap">
                    <label>
                    Advance
                    </label>
                    <xmp>
                    <s-accordion multiple="multiple"
                        on-expand="onExpand"
                        on-collapse="onCollapse"
                        is-open="isOpen"
                        controller="accordion">
                        <s-accordion-pane
                            index="1"
                            head="Pane 1"
                            content="Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi.">
                        </s-accordion-pane>

                        <s-accordion-pane
                            index="2"
                            head="Pane 2"
                            content="Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies.">
                        </s-accordion-pane>

                        <s-accordion-pane
                            index="3"
                            head="Pane 3">
                            Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non.

                            <s-accordion>
                                <s-accordion-pane
                                    index="1"
                                    head="Subpane 1">
                                    <s-accordion>
                                        <s-accordion-pane index="1">
                                            <s-accordion-head>
                                                Inner Subpane 1
                                            </s-accordion-head>
                                            <s-accordion-content>
                                                Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non.
                                            </s-accordion-content>
                                        </s-accordion-pane>

                                        <s-accordion-pane
                                            index="2"
                                            head="Inner Subpane 2"
                                            content="Curabitur et ligula. Ut molestie a, ultricies porta urna. Quisque lorem tortor fringilla sed, vestibulum id.">
                                        </s-accordion-pane>
                                    </s-accordion>
                                </s-accordion-pane>

                                <s-accordion-pane
                                    index="2"
                                    head="Subpane 2"
                                    content="Curabitur et ligula. Ut molestie a, ultricies porta urna. Quisque lorem tortor fringilla sed, vestibulum id.">
                                </s-accordion-pane>
                            </s-accordion>
                        </s-accordion-pane>
                    </s-accordion>
                    </xmp>
                </div>
            </section>

            <section>
                <div class="ui ribbon" data-anchor="javascript">
                    <span>Javascript</span>
                </div>

                <xmp>
                angular
                .module( "demo.accordion", [ "$ui.accordion" ] )
                .controller( "accordionController", [ "$scope", function( $scope ) {

                    $scope.multiple = true;

                    $scope.onExpand = function( index ) {
                        console.log( "Expand: " + index );
                    };

                    $scope.onCollapse = function( index ) {
                        console.log( "Collapse: " + index );
                    };

                    $scope.panes = [ {
                        head: "Pane 1",
                        content: "Pane - 1"
                    }, {
                        head: "Pane 2",
                        content: "Pane - 2"
                    } ];

                    $scope.addPane = function() {

                        var index = +new Date();

                        $scope.panes.push( {
                            head: "Pane " + index,
                            content: "Pane - " + index
                        } );
                    };

                    $scope.removePane = function() {
                        $scope.panes.splice( -1 );
                    };
                } ] );
                </xmp>
            </section>

            <section>
                <div class="ui ribbon" data-anchor="sAccordion">
                    <span>Directive * s-accordion</span>
                </div>

                <blockquote>
                    <p><code>=multiple</code> - <code>false</code>
                    </p>
                </blockquote>
                <p>同时展开多个内容区域</p>
                <br>

                <blockquote>
                    <p><code>=controller</code> - <code>null</code>
                    </p>
                </blockquote>
                <p>Controller of the accordion, <a href data-anchor="method">See Method</a></p>
                <br>

                <blockquote>
                    <p><code>&on-expand</code> - <code>null</code>
                    </p>
                </blockquote>
                <p>展开时回调</p>
                <br>

                <blockquote>
                    <p><code>&on-collapse</code> - <code>null</code>
                    </p>
                </blockquote>
                <p>收起时回调</p>
                <br>
            </section>

            <section>
                <div class="ui ribbon" data-anchor="sAccordionPane">
                    <span>Directive * s-accordion-pane</span>
                </div>

                <blockquote>
                    <p><code>@is-open</code> - <code>false</code>
                    </p>
                </blockquote>
                <p>是否展开</p>
                <br>

                <blockquote>
                    <p><code>@head</code> - <code>null</code>
                    </p>
                </blockquote>
                <p>标题, 不为空时覆盖<code>s-accordion-head</code></p>
                <br>

                <blockquote>
                    <p><code>@content</code> - <code>null</code>
                    </p>
                </blockquote>
                <p>内容, 不为空时覆盖<code>s-accordion-content</code>, 默认取值<code>s-accordion-pane</code>中<code>raw</code>值</p>
                <br>

                <blockquote>
                    <p><code>@index</code> - <code>null</code>
                    </p>
                </blockquote>
                <p>索引, 可选</p>
                <br>
            </section>

            <section>
                <div class="ui ribbon" data-anchor="sAccordionHead">
                    <span>Directive * s-accordion-head</span>
                </div>
                <p>自定义标题栏</p>
                <br>
            </section>

            <section>
                <div class="ui ribbon" data-anchor="sAccordionContent">
                    <span>Directive * s-accordion-content</span>
                </div>
                <p>自定义内容</p>
                <br>
            </section>
        </div>

        <header data-anchor="api">API</header>

        <section>
            <div class="ui ribbon" data-anchor="html">
                <span>HTML</span>
            </div>

            <xmp>
            <div class="ui accordion">
                <div class="pane">
                    <div class="head">Pane 1</div>
                    <div class="content">
                    Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non.
                    </div>
                </div>
                <div class="pane">
                    <div class="head">Pane 2</div>
                    <div class="content">
                    Curabitur et ligula. Ut molestie a, ultricies porta urna. Quisque lorem tortor fringilla sed, vestibulum id.
                    </div>
                </div>
            </div>
            </xmp>
        </section>

        <br>
        <br>

        <section>
            <div class="ui ribbon" data-anchor="constructor">
                <span>Constructor</span>
            </div>

            <p><code>$( selector ).accordion( [options] )</code>
            </p>

            <blockquote>
                <p><code>selector</code> - 选择器或 DOM 元素</p>

                <p><code>options</code> - 参数设置</p>
            </blockquote>

        <xmp>
        $( ".ui.accordion" ).accordion();
        </xmp>
        </section>

        <br>
        <br>

        <section>
            <div class="ui ribbon" data-anchor="options">
                <span>Options</span>
            </div>

            <blockquote>
                <p><code>multiple</code> - <code>false</code>
                </p>
            </blockquote>
            <p>同时展开多个内容区域</p>
            <br>

            <blockquote>
                <p><code>duration</code> - <code>300</code>
                </p>
            </blockquote>
            <p>动画速度, 单位毫秒<p>
            <br>

            <blockquote>
                <p><code>onExpand</code> - <code>null</code>
                </p>
            </blockquote>
            <p>展开时回调</p>
            <br>

            <blockquote>
                <p><code>onCollapse</code> - <code>null</code>
                </p>
            </blockquote>
            <p>收起时回调</p>
            <br>

            <blockquote>
                <p><code>selector4pane</code> - <code>">.pane"</code>
                </p>
            </blockquote>
            <p>Selector of pane</p>
            <br>

            <blockquote>
                <p><code>selector4head</code> - <code>".head:first"</code>
                </p>
            </blockquote>
            <p>Selector of the head</p>
            <br>

            <blockquote>
                <p><code>selector4content</code> - <code>".content:first"</code>
                </p>
            </blockquote>
            <p>Selector of the content</p>
            <br>
        </section>

        <br>
        <br>

        <section>
            <div class="ui ribbon" data-anchor="method">
                <span>Method</span>
            </div>

            <blockquote>
                <p><code>accordion.expand( index )</code>
                </p>
                <blockquote>
                    <p><code>index</code> - Number</p>
                </blockquote>
            </blockquote>
            <p>展开指定区域</p>
            <br>

            <blockquote>
                <p><code>accordion.collapse( index )</code>
                </p>
                <blockquote>
                    <p><code>index</code> - Number</p>
                </blockquote>
            </blockquote>
            <p>收起指定区域</p>
            <br>

            <blockquote>
                <p><code>accordion.toggle( index )</code>
                </p>
                <blockquote>
                    <p><code>index</code> - Number</p>
                </blockquote>
            </blockquote>
            <p>展开/收起指定区域</p>
            <br>

            <blockquote>
                <p><code>accordion.expandAll()</code> - 展开所有</p>
            </blockquote>
            <br>

            <blockquote>
                <p><code>accordion.collapseAll()</code> - 收起所有</p>
            </blockquote>
            <br>
        </section>
    </div>
</section>
