
<title>Modal - Neoui-ng</title>

<section id="modal" ng-controller="containerController">

    <header>
        <h1>Modal.js</h1> AngularJS service for creating modal~
    </header>

    <div class="wrap">
        <p>
            <button name="slide" class="ui raised button transition coral" ng-click="open( 'slide' )">SLIDE</button>
            <button name="stick" class="ui raised button transition coral" ng-click="open( 'stick' )">STICK</button>
            <button name="bottom" class="ui raised button transition coral" ng-click="open( 'bottom' )">BOTTOM</button>
        </p>

        <p>
            <button name="flip" class="ui raised button transition coral" ng-click="open( 'flip' )">FLIP</button>
            <button name="vertical" class="ui raised button transition coral" ng-click="open( 'vertical' )">VERTICAL</button>
            <button name="sign" class="ui raised button transition coral" ng-click="open( 'sign' )">SIGN</button>
        </p>
    </div>

    <a class="signal"></a>
    <a class="hamburger">
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
    </a>

    <section>
        <button name="viewCode">
            View The Code
        </button>
    </section>
</section>

