
<title>Modal - Neoui-ng</title>

<section id="modal" ng-controller="modalController">

    <header>
        <h1>Modal.js</h1> AngularJS service for creating modal~
    </header>

    <div class="wrap">
        <p>
            <button class="ui button raised transition mint" ng-click="open( 'slide' )">SLIDE</button>
            <button class="ui button raised transition mint" ng-click="open( 'stick' )">STICK</button>
            <button class="ui button raised transition mint" ng-click="open( 'bottom' )">BOTTOM</button>

            <button class="ui button raised transition mint" ng-click="open( 'flip' )">FLIP</button>
            <button class="ui button raised transition mint" ng-click="open( 'vertical' )">VERTICAL</button>
            <button class="ui button raised transition mint" ng-click="open( 'sign' )">SIGN</button>
        </p>

        <p>
	<button class="ui button transition success" ng-click="showSuccess( 'This is a message telling you that everything is a-okay' )">
		<i class="icon success"></i>
	</button>

	<button class="ui button transition error" ng-click="showError( 'This is a notification that something is wrong...' )">
		<i class="icon error"></i>
	</button>


	<button class="ui button transition info" ng-click="showInfo( 'It warns the users that to expect some changes or limitations.' )">
		<i class="icon info"></i>
	</button>

	<button class="ui button transition warn" ng-click="showWarn( 'It warns the users that to expect some changes or limitations.' )">
		<i class="icon warn"></i>
	</button>
        </p>

	<p>
            <button class="ui button transition darkGray" ng-click="showConfirm()">Confirm</button>
            <button class="ui button transition darkGray">Toast</button>
	</p>
    </div>

    <a class="signal"></a>
    <a class="hamburger">
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
    </a>

    <section>
        <button name="viewCode">
            View The Code
        </button>
    </section>
</section>

