
<title>Modal - Neoui-ng</title>

<ul id="anchors" class="ui anchor">
    <li data-anchor="example" class="item active" data-forceAnchor="-260">Example</li>
    <li class="item">AngularJS
        <ul>
            <li data-anchor="service" class="item">Service * $ui.modal</li>
            <li data-anchor="ngMethods" class="item">Methods</li>
        </ul>
    </li>
    <li class="item">jQuery
        <ul>
            <li data-anchor="constructor" class="item">Constructor</li>
            <li data-anchor="options" class="item">Options</li>
            <li data-anchor="method" class="item">Method</li>
        </ul>
    </li>
</ul>

<section id="modal" ng-controller="modalController" ng-init="init()">

    <header data-anchor="example">Example</header>

    <section class="example">
        <p>
        <button class="ui button coral raised transition" ng-click="open( 'slide' )">SLIDE</button>
        <button class="ui button coral raised transition" ng-click="open( 'stick' )">STICK</button>
        <button class="ui button coral raised transition" ng-click="open( 'bottom' )">BOTTOM</button>
        <button class="ui button coral raised transition" ng-click="open( 'scale' )">SCALE</button>
        </p>

        <p>
        <button class="ui button coral raised transition" ng-click="open( 'fadein' )">FADEIN</button>
        <button class="ui button coral raised transition" ng-click="open( 'flip' )">FLIP</button>
        <button class="ui button coral raised transition" ng-click="open( 'vertical' )">VERTICAL</button>
        <button class="ui button coral raised transition" ng-click="open( 'sign' )">SIGN</button>
        </p>

        <p>
        <button style="width: auto;" class="ui button primary transition" ng-click="open( 'scale' ).loading.show()">Show Loading</button>
        <button style="width: auto;" class="ui button primary transition" ng-click="showProgress()">Show Progress</button>
        <button style="width: auto;" class="ui button primary transition" ng-click="dragMe()">Drag Me</button>
        </p>
    </section>

    <br>
    <br>

    <header>AngularJS</header>

    <div class="markdown">
        <section>
            <div class="ui ribbon" data-anchor="service">
                <span>Service * $ui.modal</span>
            </div>

            <xmp>
            angular
            .module( "app", [ "$ui.modal" ] )
            .controller( "modalController", [ "$scope", "$modal", function( $scope, $modal ) {

                $scope.name = "trazyn";

                $scope.open = function( animate ) {

                    $modal.open( {
                        controller: "modalController",
                        template: "{{ name }}<br/><p>This is a modal window. You can do the following things with it:</p><ul> <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li> <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li> <li><strong>Close:</strong> click the outside close the modal.</li> </ul>",
                        animate: animate
                    } );
                };

                $scope.showProgress = function() {

                    $modal.open( {
                        controller: "modalController",
                        showProgress: false,
                        templateUrl: "src/demo/modal/page.html",
                        title: "Instagram Handbook for Brands",
                        class4modal: "demo",
                        scope: $scope
                    } )

                    .progress.start();
                };
            } ] );
            </xmp>

        </section>

        <section>

            <div class="ui ribbon" data-anchor="ngMethods">
                <span>Methods</span>
            </div>

            <p><code>$modal.open( options )</code> - 打开弹出框
            </p>
            <blockquote>
                <p><code>options</code> - Object</p>

                <blockquote>
                    <p><code>scope</code> - <code>null</code>
                    </p>
                </blockquote>
                <p>指定<code>scope</code></p>
                <br>

                其他见<a href="" data-anchor="options">Options</a>

        </section>
    </div>

    <br>
    <br>

    <header>jQuery</header>

    <div class="markdown">
        <section>
            <div class="ui ribbon" data-anchor="constructor">
                <span>Constructor</span>
            </div>

            <p><code>$.modal( options )</code>
            </p>

            <blockquote>
                <p><code>options</code> - 参数设置</p>
            </blockquote>

            <xmp>
            $.modal( { animate: "slide" } );
            </xmp>

        </section>

        <section>
            <div class="ui ribbon" data-anchor="options">
                <span>Options</span>
            </div>

            <blockquote>
                <p><code>title</code> - <code>"Modal.JS"</code>
                </p>
            </blockquote>
            <p>指定<code>title</code></p>
            <br>

            <blockquote>
                <p><code>render</code> - <code>null</code>
                </p>
            </blockquote>
            <p>弹出框内容, 字符串或<code>function</code></p>
            <br>

            <blockquote>
                <p><code>class4modal</code> - <code>""</code>
                </p>
            </blockquote>
            <p>指定弹出框样式</p>
            <br>

            <blockquote>
                <p><code>selector4drag</code> - <code>false</code>
                </p>
            </blockquote>
            <p>拖拽元素选择器, 为<code>true</code>时, 通过标题栏拖拽</p>
            <br>

            <blockquote>
                <p><code>css</code> - <code>{}</code>
                </p>
            </blockquote>
            <p>添加行内样式</p>
            <br>

            <blockquote>
                <p><code>attr</code> - <code>{}</code>
                </p>
            </blockquote>
            <p>添加属性</p>
            <br>

            <blockquote>
                <p><code>autoShow</code> - <code>true</code>
                </p>
            </blockquote>
            <p>初始化后打开弹出框, 不通过实例<code>open</code>方法</p>
            <br>

            <blockquote>
                <p><code>showHead</code> - <code>true</code>
                </p>
            </blockquote>
            <p>显示标题头</p>
            <br>

            <blockquote>
                <p><code>showOverlay</code> - <code>true</code>
                </p>
            </blockquote>
            <p>显示遮罩层</p>
            <br>

            <blockquote>
                <p><code>showProgress</code> - <code>true</code>
                </p>
            </blockquote>
            <p>Show the progress bar</p>
            <br>

            <blockquote>
                <p><code>fadeIn</code> - <code>true</code>
                </p>
            </blockquote>
            <p>内容淡入</p>
            <br>

            <blockquote>
                <p><code>closeByESC</code> - <code>true</code>
                </p>
            </blockquote>
            <p>Press the <kbd>Esc</kbd> close the modal</p>
            <br>

            <blockquote>
                <p><code>closeByDocument</code> - <code>true</code>
                </p>
            </blockquote>
            <p>点击弹出框外面关闭弹出框</p>
            <br>

            <blockquote>
                <p><code>animate</code> - <code>"slide"</code>
                </p>
            </blockquote>
            <p>弹出框样式, <code>slide</code>, <code>stick</code>, <code>bottom</code>, <code>flip</code>, <code>vertical</code>, <code>sign</code>, <code>scale</code>, <code>fadein</code></p>
            <br>

            <blockquote>
                <p><code>unload</code> - <code>null</code>
                </p>
            </blockquote>
            <p>弹出框卸载触发</p>
            <br>
        </section>

        <section>
            <div class="ui ribbon" data-anchor="method">
                <span>Methods</span>
            </div>

            <p><code>modal.open()</code> - 打开弹出框
            </p>
            <br>
            <br>

            <p><code>modal.close()</code> - 关闭弹出框
            </p>
            <br>
            <br>

            <p><code>modal.progress</code> - <a href="#/progress">See Progress.js</a>
            </p>
            <br>
            <br>

            <p><code>modal.loading</code> - <a href="#/progress">See Loading.js</a>
            </p>
            <br>
            <br>

        </section>
        </div>
</section>
