
<title>Dropdown - Neoui-ng</title>

<ul id="anchors" class="ui anchor">
    <li data-anchor="simple" class="item active">Simple</li>
    <li data-anchor="advance" class="item">Advance</li>
    <li class="item">AngularJS
        <ul>
            <li data-anchor="markup" class="item">Markup</li>
            <li data-anchor="javascript" class="item">Javascript</li>
            <li data-anchor="sDropdown" class="item">Directive * s-dropdown</li>
        </ul>
    </li>
    <li class="item">jQuery
        <ul>
            <li data-anchor="html" class="item">Html</li>
            <li data-anchor="constructor" class="item">Constructor</li>
            <li data-anchor="options" class="item">Options</li>
            <li data-anchor="method" class="item">Method</li>
        </ul>
    </li>
</ul>

<section id="dropdown" ng-controller="dropdownController" ng-init="init()">

    <header data-anchor="simple">Simple</header>

    <section class="simple">

        <div class="wrap">
            <s-dropdown data="data"></s-dropdown>
        </div>

        <div class="wrap">
            <s-dropdown
                data="data"
                nothing="Hover me ^_^"
                type="mouseover">
            </s-dropdown>
        </div>
    </section>

    <br>
    <br>

    <header data-anchor="advance">Advance</header>

    <section class="advance">

        <p>
        <code>
            <label>Yours selected:</label>
            {{ reps || [] }}
        </code>
        </p>
        <br>

        <div class="wrap">
            <s-dropdown
                data="ajax"
                ng-disabled="isDisabled"
                ng-model="reps"
                required="required"
                auto-width="true"
                text-key="full_name"
                value-key="false"
                multiple="multiple"
                close-on-select="false"
                nothing="Multiple and less one item">
                <p>
                    {{ name }} - <a href="{{ owner.html_url }}" title="Author by {{ owner.login }}">{{ owner.login }}</a>
                </p>
                <p>
                    <code><i class="icon github3"></i><a href="{{ html_url }}" title="{{ full_name }}">{{ html_url }}</a></code>
                </p>
                <p>
                    <code>{{ watchers.toLocaleString() }} Watchers</code>
                    <code>{{ forks.toLocaleString() }} Forks</code>
                    <code>{{ language }}</code>
                    <code>Last update: {{ updated_at }}</code>
                    <code class="issue"><i class="icon issue"></i>{{ open_issues_count }}</code>
                </p>
            </s-dropdown>

             <br>

             <ul class="options">
                 <li>
                     <label>是否禁用?</label>
                     <label class="ui checkbox">
                         <input type="checkbox" ng-click="isDisabled = !isDisabled" />
                     </label>
                 </li>
                 <li>
                     <label>允许多选?</label>
                     <label class="ui switch">
                         <input type="checkbox" ng-model="multiple" />
                     </label>
                 </li>

                 <li>
                     <label>是否必选?</label>
                     <label class="ui switch">
                         <input type="checkbox" ng-model="required" />
                     </label>
                 </li>
             </ul>
        </div>

    </section>

    <br>
    <br>

    <header>jQuery</header>

    <div class="markdown">
        <section>
            <div class="ui ribbon" data-anchor="html">
                <span>HTML</span>
            </div>

            <xmp>
                <div class="ui dropdown">
                    <div class="title">
                        <p></p>
                        <i class="icon status"></i>
                    </div>
                    <div class="content">
                    </div>
                </div>
            </xmp>
        </section>

        <section>
            <div class="ui ribbon" data-anchor="constructor">
                <span>Constructor</span>
            </div>

            <p><code>$( selector ).dropdown( options )</code>
            </p>

            <blockquote>
                <p><code>selector</code> - 选择器或 DOM 元素</p>

                <p><code>options</code> - 参数设置</p>
            </blockquote>

            <xmp>
            $( ".ui.dropdown" ).dropdown();
            </xmp>

        </section>

        <section>
            <div class="ui ribbon" data-anchor="options">
                <span>Options</span>
            </div>

            <blockquote class="required">
                <p><code>data</code> - <code>null</code>
                </p>
            </blockquote>
            <p>为数组时候为本地数据, function时返回$.Deferred</p>
            <xmp>
            [ {
                value: "AD",
                text: "Andorra"
            }, {
                value: "AZ",
                text: "Azerbaijan"
            }, {
                value: "AW",
                text: "Aruba"
            }, {
                value: "BI",
                text: "Bulgaria"
            }, {
                value: "BS",
                text: "Bahamas"
            }, {
                value: "CH",
                text: "Switzerland"
            }, {
                value: "CK",
                text: "Cook Island"
            }, {
                value: "CL",
                text: "Chile"
            }, {
                value: "CN",
                text: "China"
            }, {
                value: "CM",
                text: "Cambodia"
            }, {
                value: "AE",
                text: "United Arab Emirates"
            }, {
                value: "AF",
                text: "Afghanistan"
            }, {
                value: "AG",
                text: "Antigua and Barbuda"
            }, {
                value: "AO",
                text: "Angola"
            } ];
            </xmp>
            <br>

            <blockquote class="required">
                <p><code>textKey</code> - <code>text</code>
                </p>
            </blockquote>
            <p><code>text</code>取值</p>
            <br>

            <blockquote>
                <p><code>valueKey</code> - <code>value</code>
                </p>
            </blockquote>
            <p><code>value</code>取值, 为<code>false</code>时候, 取值<code>json</code>对象</p>
            <br>

            <blockquote>
                <p><code>nothing</code> - <code>Please Select</code>
                </p>
            </blockquote>
            <p>默认显示内容</p>
            <br>

            <blockquote>
                <p><code>autoWidth</code> - <code>false</code>
                </p>
            </blockquote>
            <p>宽度对齐</p>
            <br>

            <blockquote>
                <p><code>onSelect</code> - <code>null</code>
                </p>
            </blockquote>
            <p>选中时触发</p>
            <xmp>
            $( ".ui.dropdown" ).dropdown( {
                onSelect: function( item, settings ) {
                    console.log( "Current selected: " + item );
                }
            } );
            </xmp>
            <br>

            <blockquote>
                <p><code>type</code> - <code>"click"</code>
                </p>
            </blockquote>
            <p><code>"click"</code>或<code>"mouseover"</code></p>
            <br>

            <blockquote>
                <p><code>multiple</code> - <code>false</code>
                </p>
            </blockquote>
            <p>是否可多选</p>
            <br>

            <blockquote>
                <p><code>required</code> - <code>false</code>
            </blockquote>
            </p>
            <p>设置为<code>true</code>后, 必须有一个选中项</p>
            <br>

            <blockquote>
                <p><code>closeOnSelect</code> - <code>true</code>
                </p>
            </blockquote>
            <p>选中后收起下拉列表</p>
            <br>

            <blockquote>
                <p><code>ripple</code> - <code>true</code>
                </p>
            </blockquote>
            <p>Ink ripple effects</p>
            <br>

            <blockquote>
                <p><code>selector4title</code> - <code>".title:first"</code>
                </p>
            </blockquote>
            <p>标题选择器</p>
            <br>

            <blockquote>
                <p><code>selector4content</code> - <code>".content:first"</code>
                </p>
            </blockquote>
            <p>内容选择器</p>
            <br>

            <blockquote>
                <p><code>class4loading</code> - <code>"sync"</code>
                </p>
            </blockquote>
            <p><code>Ajax</code>请求时样式</p>
            <br>

            <blockquote>
                <p><code>formatter</code> - </p>
            </blockquote>
            <p>格式化下拉列表</p>
            <xmp>
            $( ".ui.dropdown" ).dropdown( {
                formatter: function( item, settings ) {
                    return "<span>" + (item[ settings.textKey ] || item[ settings.valueKey ]) + "</span>";
                }
            } );
            </xmp>
        </section>

        <section>
            <div class="ui ribbon" data-anchor="method">
                <span>Method</span>
            </div>

            <p><code>dropdown.val( [value] )</code>
            </p>
            <blockquote>
                <p><code>value</code> - <code>Object</code></p>
            </blockquote>
            <p>参数为空时返回当前所选值, 不为空时选中指定项</p>
            <br>
            <br>

            <p><code>dropdown.render( data )</code>
            </p>
            <blockquote>
                <p><code>data</code> - <code>Array/Function</code></p>
            </blockquote>
            <p>重新产生下拉列表</p>
            <br>
            <br>

            <p><code>dropdown.add( data )</code>
            </p>
            <blockquote>
                <p><code>data</code> - <code>Array</code></p>
            </blockquote>
            <p>新增下拉内容</p>
            <br>
            <br>

            <p><code>dropdown.selectAll()</code>
            -
            全选</p>
            <br>
            <br>

            <p><code>dropdown.deselectAll()</code>
            -
            取消全选</p>
            <br>
            <br>

            <p><code>dropdown.disabled()</code>
            -
            禁用控件</p>
            <br>

            <p><code>dropdown.enabled()</code>
            -
            启用控件</p>
        </section>
    </div>
</section>
