
@import (reference) "../../style/main.less";
@import (reference) "../common/css/markdown.less";

#tooltip {
    #markdown();

    .wrap {
        padding-left: 30px;
    }

    .wrap p {
        height: 48px;
        line-height: 48px;
        font-family: Georgia, "Times New Roman", Sans-serif;

        &:last-child {
            margin-top: 100px;
        }
    }

    .avatar {
        margin-top: 60px;
    }

    .avatar img {
        vertical-align: bottom;
        width: 32px;
        height: 32px;
        border-radius: 32px;
    }

    .social {

        a {
            transition: .2s;
            display: inline-block;
            height: 32px;
            width: 32px;
            line-height: 32px;
            margin-right: 10px;
            text-align: center;
            border: 1px solid;
            border-radius: 32px;
            cursor: pointer;
            color: rgba(0,0,0,.7);

            &.dribbble:hover {
                color: @dribbble;
            }
            &.twitter:hover {
                color: @twitter;
            }
            &.github:hover {
                color: @mint;
            }
        }
    }
}
