
<title>Message - Neoui-ng</title>

<ul id="anchors">
	<li data-anchor="success" class="item active">Success</li>
	<li data-anchor="info" class="item">Info</li>
	<li data-anchor="error" class="item">Error</li>
	<li data-anchor="warn" class="item">Warn</li>
	<li data-anchor="confirm" class="item">Confirm</li>
	<li data-anchor="bubble" class="item">Bubble</li>
</ul>

<section id="message" ng-controller="messageController" ng-init="init()">

	<header data-anchor="success">Success</header>

	<section>
		<div class="wrap">
			<div class="ui message success tooltip top" data-tooltip="Click outside close the message">
				<div class="flag">
					<i class="icon"></i>
				</div>
				<div class="content">
					<p>
					This is a message telling you that everything is a-okay!
					</p>
				</div>
			</div>

			<button class="ui button transition success" ng-click="showSuccess()">
				<i class="icon play"></i>
			</button>
		</div>

        <section>
            <div class="ui ribbon">
                <span>AngularJS</span>
            </div>

            <xmp>
            angular
            .module( "app", [ "$ui.message" ] )
            .controller( "messageController", [ "$message", function( $message ) {
                $message.success( "This is a message telling you that everything is a-okay" );
            } ] );
            </xmp>
        </section>

        <section>
            <div class="ui ribbon">
                <span>jQuery</span>
            </div>

            <xmp>
            require( [ "ui/message/message" ], function() {
                $.message.success( "This is a message telling you that everything is a-okay" );
            } );
            </xmp>
        </section>

        <section>
            <div class="ui ribbon">
                <span>API</span>
            </div>

            <p>
            <code> success( content, [ delay ] ); </code>
            </p>
            <blockquote>
                <p><code>content</code> - String, 文本内容</p>
                <p><code>delay</code> - Number, 自动关闭延时, 单位毫秒</p>
            </blockquote>
        </section>

	</section>

	<br>
	<br>

	<header data-anchor="info">Info</header>

	<section>
		<div class="wrap">
			<div class="ui message info tooltip top" data-tooltip="Click outside close the message">
				<div class="flag">
					<i class="icon"></i>
				</div>
				<div class="content">
					<p>
					This is an 'information message' div.
					</p>
				</div>
			</div>

			<button class="ui button transition info" ng-click="showInfo()">
				<i class="icon play"></i>
			</button>
		</div>

        <section>
            <div class="ui ribbon">
                <span>AngularJS</span>
            </div>

            <xmp>
            angular
            .module( "app", [ "$ui.message" ] )
            .controller( "messageController", [ "$message", function( $message ) {
                $message.info( "This is an 'information message' div." );
            } ] );
            </xmp>
        </section>

        <section>
            <div class="ui ribbon">
                <span>jQuery</span>
            </div>

            <xmp>
            require( [ "ui/message/message" ], function() {
                $.message.info( "This is an 'information message' div." );
            } );
            </xmp>
        </section>

        <section>
            <div class="ui ribbon">
                <span>API</span>
            </div>

            <p>
            <code> info( content, [ delay ] ); </code>
            </p>
            <blockquote>
                <p><code>content</code> - String, 文本内容</p>
                <p><code>delay</code> - Number, 自动关闭延时, 单位毫秒</p>
            </blockquote>
        </section>
	</section>

	<br>
	<br>

	<header data-anchor="error">Error</header>

	<section>
		<div class="wrap">
			<div class="ui message error tooltip top" data-tooltip="Click outside close the message">
				<div class="flag">
					<i class="icon"></i>
				</div>
				<div class="content">
					<p>
					This is a notification that something is wrong...
					</p>
				</div>
			</div>

			<button class="ui button transition error" ng-click="showError()">
				<i class="icon play"></i>
			</button>
		</div>

        <section>
            <div class="ui ribbon">
                <span>AngularJS</span>
            </div>

            <xmp>
            angular
            .module( "app", [ "$ui.message" ] )
            .controller( "messageController", [ "$message", function( $message ) {
                $message.error( "This is a notification that something is wrong..." );
            } ] );
            </xmp>
        </section>

        <section>
            <div class="ui ribbon">
                <span>jQuery</span>
            </div>

            <xmp>
            require( [ "ui/message/message" ], function() {
                $.message.error( "This is a notification that something is wrong..." );
            } );
            </xmp>
        </section>

        <section>
            <div class="ui ribbon">
                <span>API</span>
            </div>

            <p>
            <code> error( content, [ delay ] ); </code>
            </p>
            <blockquote>
                <p><code>content</code> - String, 文本内容</p>
                <p><code>delay</code> - Number, 自动关闭延时, 单位毫秒</p>
            </blockquote>
        </section>
	</section>

	<br>
	<br>

	<header data-anchor="warn">Warn</header>

	<section>
		<div class="wrap">
			<div class="ui message warn tooltip top" data-tooltip="Click outside close the message">
				<div class="flag">
					<i class="icon"></i>
				</div>
				<div class="content">
					<p>
					It warns the users that to expect some changes or limitations.
					</p>
				</div>
			</div>

			<button class="ui button transition warn" ng-click="showWarn()">
				<i class="icon play"></i>
			</button>
		</div>

        <section>
            <div class="ui ribbon">
                <span>AngularJS</span>
            </div>

            <xmp>
            angular
            .module( "app", [ "$ui.message" ] )
            .controller( "messageController", [ "$message", function( $message ) {
                $message.warn( "It warns the users that to expect some changes or limitations." );
            } ] );
            </xmp>
        </section>

        <section>
            <div class="ui ribbon">
                <span>jQuery</span>
            </div>

            <xmp>
            require( [ "ui/message/message" ], function() {
                $.message.error( "This is a notification that something is wrong..." );
            } );
            </xmp>
        </section>

        <section>
            <div class="ui ribbon">
                <span>API</span>
            </div>

            <p>
            <code> warn( content, [ delay ] ); </code>
            </p>
            <blockquote>
                <p><code>content</code> - String, 文本内容</p>
                <p><code>delay</code> - Number, 自动关闭延时, 单位毫秒</p>
            </blockquote>
        </section>
	</section>

	<br>
	<br>

	<header data-anchor="confirm">Confirm</header>

	<section>

        <section>
            <div class="ui ribbon">
                <span>Example</span>
            </div>

            <p>
            <button class="ui button outline coral transition" name="confirm" ng-click="showConfirm()">
                <i class="icon star"></i> Show Confirm
            </button>
            </p>
        </section>

        <section>
            <div class="ui ribbon">
                <span>AngularJS</span>
            </div>

            <xmp>
            angular
            .module( "app", [ "$ui.message" ] )
            .controller( "messageController", [ "$message", function( $message ) {

                $message.confirm( {
                    title: "Please confirm",
                    message: "Exported successfully. Do you want to open the export query page?",
                    onOk: function() {
                        window.open( "//www.google.com", "_blank" );
                    }
                } );
            } ] );
            </xmp>
        </section>

        <section>
            <div class="ui ribbon">
                <span>jQuery</span>
            </div>

            <xmp>
            angular
            .module( "app", [ "$ui.message" ] )
            .controller( "messageController", [ "$message", function( $message ) {

                $.message.confirm( {
                    title: "Please confirm",
                    message: "Exported successfully. Do you want to open the export query page?",
                    onOk: function() {
                        window.open( "//www.google.com", "_blank" );
                    }
                } );
            } ] );
            </xmp>
        </section>
        <section>
            <div class="ui ribbon">
                <span>API</span>
            </div>

            <p>
            <code> confirm( options ); </code>
            </p>
            <blockquote>
                <p><code>title</code> - String, 对话框标题</p>
                <p><code>message</code> - String, 对话框内容</p>
                <p><code>onOk</code> - Function, 点击 <button class="ui transition button success">Ok</button> 执行回调</p>
                <p><code>onClose</code> - Function, 点击 <button class="ui button">Cancel</button> 执行回调</p>
            </blockquote>
        </section>

	</section>

	<br>
	<br>

	<header data-anchor="bubble">Bubble</header>

	<section>

        <section>
            <div class="ui ribbon">
                <span>Example</span>
            </div>

            <p>
            <button class="ui button transition outline coral" name="bubble" ng-click="showBubble()">
                <i class="icon favorite"></i> Show the bubble
            </button>
            </p>
        </section>

        <section>
            <div class="ui ribbon">
                <span>AngularJS</span>
            </div>

            <xmp>
            angular
            .module( "app", [ "$ui.message" ] )
            .controller( "messageController", [ "$message", function( $message ) {
                $message.bubble( "Thank You~", 3000 );
            } ] );
            </xmp>
        </section>

        <section>
            <div class="ui ribbon">
                <span>jQuery</span>
            </div>

            <xmp>
            require( [ "ui/message/message" ], function() {
                $.message.bubble( "Thank You~", 3000 );
            } );
            </xmp>
        </section>

        <section>
            <div class="ui ribbon">
                <span>API</span>
            </div>

            <p>
            <code> bubble( content, [ delay ] ); </code>
            </p>
            <blockquote>
                <p><code>content</code> - String, 文本内容</p>
                <p><code>delay</code> - Number, 自动关闭延时, 单位毫秒</p>
            </blockquote>
        </section>
	</section>

</section>
