
.ui.ripple {

	position: relative;
	overflow: hidden;

	> .ripple {
		position: absolute;
		background: rgba(0, 0, 0, .15);
		border-radius: 100%;
		transform: scale(0);
		pointer-events: none;

		&.show {
			animation: ripple-icon .3s ease-out;
		}
	}
}

@keyframes ripple-icon {
    to {
        transform: scale(2);
        opacity: 0;
    }
}
