
<title>Validation - Neoui-ng</title>

<ul id="anchors" class="ui anchor">
    <li data-anchor="example" class="item active" data-forceAnchor="-260">Example</li>
    <li class="item">AngularJS
        <ul>
            <li data-anchor="markup" class="item">Markup</li>
            <li data-anchor="javascript" class="item">Javascript</li>
            <li data-anchor="sValidation" class="item">Directive * s-validation</li>
        </ul>
    </li>
    <li class="item">jQuery
        <ul>
            <li data-anchor="html" class="item">Html</li>
            <li data-anchor="constructor" class="item">Constructor</li>
            <li data-anchor="options" class="item">Options</li>
            <li data-anchor="method" class="item">Method</li>
        </ul>
    </li>

    <li class="item">Validators

        <ul>
            <li data-anchor="regular" class="item">Regular</li>
            <li data-anchor="radio" class="item">Radio</li>
            <li data-anchor="checkbox" class="item">Checkbox</li>
        </ul>
    </li>
</ul>

<section id="validation" ng-controller="validationController" ng-init="init()">

    <header data-anchor="example">Example</header>

    <section>

        <div class="wrap">
            <s-validation class="ui form">
                <p class="row">
                <label>Name:</label>
                <input class="ui text" ng-model="info.name"
                                       validators="[ 'required', { unique: uniqueName }, { minLength: 6 }, { maxLength: 12 } ]"
                                       messages="[ { required: 'This field is required' }, { unique: 'This name has exists' } ]"
                                       placeholder="Please enter your name" />
                </p>

                <p class="row">
                <label>Age:</label>
                <label class="ui select">
                    <select ng-model="info.age"
                            validators="[ 'required' ]" >
                            <option value="">Choose your age</option>
                            <option ng-repeat="i in [ 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36 ]" value="{{ i }}">{{ i }}</option>
                    </select>
                </label>
                </p>

                <p class="row">
                <label>Gender:</label>
                <span class="ui radioes">
                    <input name="sex" class="ui radio" ng-model="info.sex" value="1" validators="[ 'required' ]" type="radio" /> Female
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <input name="sex" class="ui radio" ng-model="info.sex" value="0" type="radio" /> Male
                </span>
                </p>

                <p class="row">
                <label>Email:</label>
                <input class="ui text" ng-model="info.email" validators="[ 'email' ]" placeholder="Yours email?" />
                </p>

                <p class="row">
                <label>Phone:</label>
                <input class="ui text" ng-model="info.phone" validators="[ 'phone' ]" placeholder="Phone number?" />
                </p>

                <p class="row">
                <label>Colors:</label>
                <span class="ui checkboxes">
                     <label class="ui checkbox">
                         <input name="colors" type="checkbox" value="black" validators="[ { minLength: 1 } ]" />
                         <label>Black</label>
                     </label>

                     <label class="ui checkbox">
                         <input name="colors" type="checkbox" value="white" />
                         <label>White</label>
                     </label>

                     <label class="ui checkbox">
                         <input name="colors" type="checkbox" value="red" />
                         <label>Red</label>
                     </label>
                </span>
                </p>

                <p class="row">
                <label>Seed feedback:</label>
                <label class="ui switch">
                    <input type="checkbox" ng-model="info.feedback" value="Y" validators="[ 'required' ]" />
                </label>
                </p>

                <p>
                <input class="ui button transition" type="reset">
                <input class="ui button transition primary" type="submit" ng-click="push( info )" value="Submit Information" >
                </p>

            </s-validation>
        </div>
    </section>

    <br>
    <br>

    <header>AngularJS</header>

    <div class="markdown">
        <section>
            <div class="ui ribbon" data-anchor="markup">
                <span>Markup</span>
            </div>

            <xmp>
            <s-validation class="ui form">
                <p class="row">
                <label>Name:</label>
                <input class="ui text" ng-model="info.name"
                                       validators="[ 'required', { unique: uniqueName }, { minLength: 6 }, { maxLength: 12 } ]"
                                       messages="[ { required: 'This field is required' }, { unique: 'This name has exists' } ]"
                                       placeholder="Please enter your name" />
                </p>

                <p class="row">
                <label>Age:</label>
                <label class="ui select">
                    <select ng-model="info.age"
                            validators="[ 'required' ]" >
                            <option value="">Choose your age</option>
                            <option ng-repeat="i in [ 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36 ]" value="\{\{ i \}\}">\{\{ i \}\}</option>
                    </select>
                </label>
                </p>

                <p class="row">
                <label>Gender:</label>
                <span class="ui radioes">
                    <input name="sex" class="ui radio" ng-model="info.sex" value="1" validators="[ 'required' ]" type="radio" /> Female
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <input name="sex" class="ui radio" ng-model="info.sex" value="0" type="radio" /> Male
                </span>
                </p>

                <p class="row">
                <label>Email:</label>
                <input class="ui text" ng-model="info.email" validators="[ 'email' ]" placeholder="Yours email?" />
                </p>

                <p class="row">
                <label>Phone:</label>
                <input class="ui text" ng-model="info.phone" validators="[ 'phone' ]" placeholder="Phone number?" />
                </p>

                <p class="row">
                <label>Colors:</label>
                <span class="ui checkboxes">
                     <label class="ui checkbox">
                         <input name="colors" type="checkbox" value="black" validators="[ { minLength: 1 } ]" />
                         <label>Black</label>
                     </label>

                     <label class="ui checkbox">
                         <input name="colors" type="checkbox" value="white" />
                         <label>White</label>
                     </label>

                     <label class="ui checkbox">
                         <input name="colors" type="checkbox" value="red" />
                         <label>Red</label>
                     </label>
                </span>
                </p>

                <p class="row">
                <label>Seed feedback:</label>
                <label class="ui switch">
                    <input type="checkbox" ng-model="info.feedback" value="Y" validators="[ 'required' ]" />
                </label>
                </p>

                <p>
                <input class="ui button transition" type="reset">
                <input class="ui button transition primary" type="submit" ng-click="push( info )" value="Submit Information">
                </p>

            </s-validation>
            </xmp>
        </section>

        <section>
            <div class="ui ribbon" data-anchor="javascript">
                <span>Javascript</span>
            </div>

            <xmp>
            angular
            .module( "app", [ "$ui.tab" ] )
            .controller( "validationController", [ "$scope", function( $scope ) {

                $scope.push = function( info ) {
                    console.log( info );
                };

                $scope.uniqueName = function( name ) {
                    return name !== "abc";
                };
            } ] );
            </xmp>

        </section>

        <section>
            <div class="ui ribbon" data-anchor="sValidation">
                <span>Directive * s-validation</span>
            </div>

            <blockquote>
                <p><code>@message</code> - <code>"Invalid input"</code></p>
            </blockquote>
            <p>默认错误提示</p>
            <br>


            <div class="ui ribbon">
                <span>Form inputs</span>
            </div>

            <blockquote>
                <p><code>@validators</code> - <code>null</code></p>
            </blockquote>
            <p>校验规则, 见<a href="" data-anchor="regular">Validators</a></p>
            <br>

            <blockquote>
                <p><code>@messages</code> - <code>null</code></p>
            </blockquote>
            <p>错误提示信息</p>
            <br>
        </section>
    </div>

    <br>
    <br>

    <header>jQuery</header>

    <div class="markdown">
        <section>
            <div class="ui ribbon" data-anchor="html">
                <span>HTML</span>
            </div>

            <xmp>
            <form class="ui form validation">
                <p class="row">
                <label>Name:</label>
                <input class="ui text" validators="[ 'required', { unique: uniqueName }, { minLength: 6 }, { maxLength: 12 } ]"
                                       messages="[ { required: 'This field is required' }, { unique: 'This name has exists' } ]"
                                       placeholder="Please enter your name" />
                </p>

                <p class="row">
                <label>Age:</label>
                <label class="ui select">
                    <select validators="[ 'required' ]" >
                            <option value="">Choose your age</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                    </select>
                </label>
                </p>

                <p class="row">
                <label>Gender:</label>
                <span class="ui radioes">
                    <input name="sex" class="ui radio" value="1" validators="[ 'required' ]" type="radio" /> Female
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <input name="sex" class="ui radio" value="0" type="radio" /> Male
                </span>
                </p>

                <p class="row">
                <label>Email:</label>
                <input class="ui text" validators="[ 'email' ]" placeholder="Yours email?" />
                </p>

                <p class="row">
                <label>Phone:</label>
                <input class="ui text" validators="[ 'phone' ]" placeholder="Phone number?" />
                </p>

                <p class="row">
                <label>Colors:</label>
                <span class="ui checkboxes">
                     <label class="ui checkbox">
                         <input name="colors" type="checkbox" value="black" validators="[ { minLength: 1 } ]" />
                         <label>Black</label>
                     </label>

                     <label class="ui checkbox">
                         <input name="colors" type="checkbox" value="white" />
                         <label>White</label>
                     </label>

                     <label class="ui checkbox">
                         <input name="colors" type="checkbox" value="red" />
                         <label>Red</label>
                     </label>
                </span>
                </p>

                <p class="row">
                <label>Seed feedback:</label>
                <label class="ui switch">
                    <input type="checkbox" value="Y" validators="[ 'required' ]" />
                </label>
                </p>

                <p>
                <input class="ui button transition" type="reset">
                <input class="ui button transition primary" type="submit" value="Submit Information">
                </p>
            </form>
            </xmp>
        </section>

        <section>
            <div class="ui ribbon" data-anchor="constructor">
                <span>Constructor</span>
            </div>

            <p><code>$( selector ).validation( options )</code>
            </p>

            <blockquote>
                <p><code>selector</code> - 选择器或 DOM 元素</p>

                <p><code>options</code> - 参数设置</p>
            </blockquote>

            <xmp>
            $( ".ui.form.validation" ).validation( {
                custom      : {
                    uniqueName: function( value ) {
                        return value !== "abc";
                    }
                },

                breakOnError: true
            } );
            </xmp>

        </section>

        <section>
            <div class="ui ribbon" data-anchor="options">
                <span>Options</span>
            </div>

            <blockquote>
                <p><code>selector</code> - <code>":input[validators]:visible:not(button)"</code></p>
            </blockquote>
            <p>表单元素选择器</p>
            <br>

            <blockquote>
            <p><code>validators</code> - </p>
            </blockquote>
            <p>检验规则, 详见<a href data-anchor="regular">Validators</a></p>
            <br>

            <blockquote>
            <p><code>breakOnError</code> - <code>true</code></p>
            </blockquote>
            <p>同组校验中, 碰到错误停止</p>
            <br>

            <blockquote>
                <p><code>custom</code> - <code>null</code>
                </p>
            </blockquote>
            <p>自定义校验器(<code>function</code>类型, 可返回<code>$.Deferred</code>对象)映射集</p>
            <br>

            <blockquote>
                <p><code>class4error</code> - <code>"error"</code></p>
            </blockquote>
            <p>校验失败样式</p>
            <br>

            <blockquote>
                <p><code>parseElement</code> -
                </p>
            </blockquote>
            <p>自定义控制元素, 组模式校验中, 返回外层元素, 见源码部分</p>
        </section>

        <section>
            <div class="ui ribbon" data-anchor="method">
                <span>Method</span>
            </div>

            <p><code>validation.validate()</code>
            </p>
            <p>检验表单, 返回<code>$.Deferred</code></p>
            <br>
            <br>

            <p><code>validation.clean()</code>
            </p>
            <p>移除校验信息</p>
        </section>
    </div>

    <header>Validators</header>

    <div class="markdown">
        <section>
            <div class="ui ribbon" data-anchor="regular">
                <span>Regular</span>
            </div>

            <blockquote>
                <p><code>required</code> - <code>必填字段</code></p>
            </blockquote>
            <br>

            <blockquote>
                <p><code>equals</code> - <code>等于参数值</code></p>
            </blockquote>
            <br>

            <blockquote>
                <p><code>contains</code> - <code>包含指定内容</code></p>
            </blockquote>
            <br>

            <blockquote>
                <p><code>startWith</code> - <code>字符串以指定内容开始</code></p>
            </blockquote>
            <br>

            <blockquote>
                <p><code>endWith</code> - <code>字符串以指定内容结束</code></p>
            </blockquote>
            <br>

            <blockquote>
                <p><code>min</code> - <code>不小于指定值</code></p>
            </blockquote>
            <br>

            <blockquote>
                <p><code>max</code> - <code>大于指定值</code></p>
            </blockquote>
            <br>

            <blockquote>
                <p><code>minLength</code> - <code>长度不小于指定值</code></p>
            </blockquote>
            <br>

            <blockquote>
                <p><code>maxLength</code> - <code>长度小于指定值</code></p>
            </blockquote>
            <br>

            <blockquote>
                <p><code>past</code> - <code>日期大于当前</code></p>
            </blockquote>
            <br>

            <blockquote>
                <p><code>future</code> - <code>日期小于当前</code></p>
            </blockquote>
            <br>

            <blockquote>
                <p><code>after</code> - <code>日期大于指定时间</code></p>
            </blockquote>
            <br>

            <blockquote>
                <p><code>before</code> - <code>日期小于指定时间</code></p>
            </blockquote>
            <br>

            <blockquote>
                <p><code>int</code> - <code>输入内容为数字</code></p>
            </blockquote>
            <br>

            <blockquote>
                <p><code>float</code> - <code>输入内容为浮点</code></p>
            </blockquote>
            <br>

            <blockquote>
                <p><code>alpha</code> - <code>输入内容为字母</code></p>
            </blockquote>
            <br>

            <blockquote>
                <p><code>numeric</code> - <code>输入内容为数字</code></p>
            </blockquote>
            <br>

            <blockquote>
                <p><code>hexadecimal</code> - <code>输入内容为16进制</code></p>
            </blockquote>
            <br>

            <blockquote>
                <p><code>uppercase</code> - <code>输入内容大写字母</code></p>
            </blockquote>
            <br>

            <blockquote>
                <p><code>lowercase</code> - <code>输入内容小写字母</code></p>
            </blockquote>
            <br>

            <blockquote>
                <p><code>email</code> - <code>输入内容为 email </code></p>
            </blockquote>
            <br>

            <blockquote>
                <p><code>url</code> - <code>输入内容为 url </code></p>
            </blockquote>
            <br>

            <blockquote>
                <p><code>zipCode</code> - <code>输入内容为 zipCode </code></p>
            </blockquote>
            <br>

            <blockquote>
                <p><code>ip</code> - <code>输入内容为 ip </code></p>
            </blockquote>
            <br>

            <blockquote>
                <p><code>phone</code> - <code>输入内容为手机号码</code></p>
            </blockquote>
            <br>

            <blockquote>
                <p><code>timeString</code> - <code>输入内容为时间字符串</code></p>
            </blockquote>
            <br>

            <blockquote>
                <p><code>dateString</code> - <code>输入内容为日期字符串</code></p>
            </blockquote>
            <br>

            <div class="ui ribbon" data-anchor="radio">
                <span>Radio</span>
            </div>
            <p>可用规则: <code>required</code></p>
            <br>
            <br>

            <div class="ui ribbon" data-anchor="checkbox">
                <span>Checkbox</span>
            </div>
            <p>可用规则: <code>required</code>, <code>minLength</code>, <code>maxLength</code></p>
        </section>
    </div>
</section>
