

<title>Rate - Neoui-ng</title>

<ul id="anchors" class="ui anchor">
    <li data-anchor="example" class="item active" data-forceAnchor="-260">Example</li>
    <li class="item">AngularJS
        <ul>
            <li data-anchor="markup" class="item">Markup</li>
            <li data-anchor="javascript" class="item">Javascript</li>
            <li data-anchor="sRate" class="item">Directive * s-rate</li>
        </ul>
    </li>
    <li class="item">jQuery
        <ul>
            <li data-anchor="html" class="item">Html</li>
            <li data-anchor="constructor" class="item">Constructor</li>
            <li data-anchor="options" class="item">Options</li>
            <li data-anchor="method" class="item">Method</li>
        </ul>
    </li>
</ul>

<section id="rate" ng-controller="rateController" ng-init="init()">

    <header data-anchor="example">Example</header>

    <section>

        <div class="wrap">

            <div class="box">

                <span>
                    <s-rate ng-model="star" ng-init="star = 4.6"></s-rate>
                </span>

                <br>

                <span>
                    <s-rate class="heart" ng-model="heart"></s-rate>
                </span>
            </div>

        </div>

        <div class="movie">
            <div class="cover">
                <div class="skew">
                    <img src="images/574e7726de7c25a6ec1b72e026fa2eab.jpg">

                    <div class="meta">
                        <p class="subhead">
                            Suicide Squad
                        </p>
                        <p>
                            <span>PG-13</span>
                            <span>9.0</span>
                        </p>
                        <s-rate ng-model="rate" ng-init="rate = 4.5"></s-rate>
                        <span>
                            <i class="icon favorite"></i>
                            1,475,098 likes
                        </span>
                    </div>
                </div>
            </div>
            <div class="info">
                <div class="preview">
                    <div class="min">
                        <img src="images/MV5BMjMzMTM4MzM1OV5BMl5BanBnXkFtZTgwODAwMzE2NTE@._V1_SY317_CR91,0,214,317_AL_.jpg">
                        <i class="icon play"></i>
                    </div>
                </div>

                <div class="desc">
                    <p>A secret government agency recruits imprisoned supervillains to execute dangerous black ops missions in exchange for clemency.</p>
                    <p class="director"><b>Director:</b> <a href="">David Ayer</a></p>
                    <p class="writers"><b>Writers:</b> <a href="">David Ayer</a>, <a href="">John Ostrander (comic book)</a></p>
                    <p class="stars"><b>Stars:</b> <a href="">Cara Delevingne</a>, <a href="">Margot Robbie</a>, <a href="">Scott Eastwood</a> | <a href="">See full cast and crew</a>

                    <div class="action">
                        <button class="ui button mint">
                            <i class="icon add"></i>
                            Watchlist
                        </button>

                        <button class="ui button coral">
                            Watch Trailer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br>
    <br>

    <header>AngularJS</header>

    <div class="markdown">
        <section>
            <div class="ui ribbon" data-anchor="markup">
                <span>Markup</span>
            </div>

            <div class="wrap">
                <label><i class="icon star"></i></label>
                <xmp>
                <s-rate ng-model="star" ng-init="star = 4.6"></s-rate>
                </xmp>
            </div>

            <div class="wrap">
                <label><i class="icon favorite"></i></label>
                <xmp>
                    <s-rate class="heart" ng-model="heart"></s-rate>
                </xmp>
            </div>
        </section>

        <section>
            <div class="ui ribbon" data-anchor="javascript">
                <span>Javascript</span>
            </div>

            <xmp>
            angular
            .module( "demo.rate", [ "$ui.rate" ] )
            .controller( "rateController", [ "$scope", function( $scope ) {
                $scope.heart = 2.3;
            } ] );
            </xmp>

        </section>

        <section>
            <div class="ui ribbon" data-anchor="sRate">
                <span>Directive * s-rate</span>
            </div>

            <blockquote>
                <p><code>=ngModel</code> - <code>0</code></p>
            </blockquote>
            <p>评分值, <code>0 - 5</code></p>
            <br>

            <blockquote>
            <p><code>=ng-disabled</code> - <code>false</code></p>
            </blockquote>
            <p>是否禁用</p>
            <br>

            <blockquote>
                <p><code>&on-select</code> - <code>null</code>
                </p>
            </blockquote>
            <p>选中后回调</p>
            <br>
        </section>
    </div>

    <br>
    <br>

    <header>jQuery</header>

    <div class="markdown">
        <section>
            <div class="ui ribbon" data-anchor="html">
                <span>HTML</span>
            </div>

            <xmp>
            <div class="ui rate">
                <span> <i></i> </span> <span> <i></i> </span> <span> <i></i> </span> <span> <i></i> </span> <span> <i></i> </span>
            </div>
            </xmp>
        </section>

        <section>
            <div class="ui ribbon" data-anchor="constructor">
                <span>Constructor</span>
            </div>

            <p><code>$( selector ).rate( options )</code>
            </p>

            <blockquote>
                <p><code>selector</code> - 选择器或 DOM 元素</p>

                <p><code>options</code> - 参数设置</p>
            </blockquote>

            <xmp>
            $( ".ui.rate" ).rate();
            </xmp>

        </section>

        <section>
            <div class="ui ribbon" data-anchor="options">
                <span>Options</span>
            </div>

            <blockquote>
                <p><code>defaultValue</code> - <code>0</code></p>
            </blockquote>
            <p>默认值, 取值<code>0 - 5</code></p>
            <br>

            <blockquote>
                <p><code>selector4star</code> - <code>">span"</code>
                </p>
            </blockquote>
            <p>Selector of the symbol</p>
            <br>

            <blockquote>
                <p><code>class4highlight</code> - <code>"highlight"</code>
                </p>
            </blockquote>
            <p>鼠标悬浮高亮样式</p>
            <br>

            <blockquote>
                <p><code>class4selected</code> - <code>"selected"</code>
                </p>
            </blockquote>
            <p>选中后样式</p>
            <br>

            <blockquote>
            <p><code>onSelect</code> - <code>null</code></p>
            </blockquote>
            <p>选中后执行</p>
            <xmp>
            $( ".ui.rate" ).rate( {
                onSelect: function( value ) {
                    console.log( value );
                }
            } );
            </xmp>
        </section>

        <section>
            <div class="ui ribbon" data-anchor="method">
                <span>Method</span>
            </div>

            <p><code>rate.val( [value] )</code>
            </p>
            <blockquote>
                <p><code>value</code> - Number</p>
            </blockquote>
            <p>不为空时设置为指定值(取值<code>0 - 5</code>), 为空时获取当前值</p>
            <br>
            <br>

            <p><code>rate.disabled()</code> - 禁用控件</p>
            <br>
            <br>

            <p><code>rate.enabled()</code> - 启用控件</p>
        </section>
    </div>
</section>
