
@import (reference) "../../style/main.less";
@import (reference) "../common/css/markdown.less";

#rate {
    #markdown();
}

.ui.rate {
    display: inline-block;
    height: 48px;
    line-height: 48px;
    box-sizing: content-box;
    >span {

        width: 48px;
        height: 48px;
        line-height: 48px;
        display: inline-block;
        position: relative;
        font-size: 48px;
        color: @lightGray;
        cursor: pointer;

        >i:before, &:after {
            transition: .2s;
            content: "★";
        }

        >i, &:after {
            position: absolute;
            top: 0;
            left: 0;
        }

        >i {
            z-index: 9;
            font-style: normal;
            overflow: hidden;
            width: 0;
            cursor: pointer;

            &:before {
                overflow: hidden;
            }
        }

        &:hover:after, &.highlight {
            color: @sunflower;
        }

        &.selected {
            >i {
                width: 100%;
                &:before {
                    color: @grape;
                }
            }
        }
    }
}
