
@import (reference) "../../style/main.less";

.ui.tree:not(.file) {
    border-radius: 4px;
    color: #333;

    li {
        margin: 0;
        &.selected > p {
            background-color: #e6f0fb;
            & > .icon {
                color: @google !important;
            }
            & > span {
                color: #333 !important;
            }
        }
    }

    .node.close > p .icon, .node.open > p .icon {
        margin: 0 4px 28px -4px;
        font-size: 18px;
        color: @google;
    }

    .node.close > p > .icon:before {
        content: "\e06a";
    }

    .node.open > p > .icon:before {
        content: "\e319";
    }

    p {
        height: 38px;
        line-height: 38px;
        &:hover {
            background-color: #e6f0fb;
        }
    }
}
